
/* Typography */

/* Serif typeface */
@font-face {
	font-family: "Liberation Serif";
	src:
		local("LiberationSerif-Regular"),
		local("Liberation Serif Regular"),
		local("Liberation Serif"),
		url("/fonts/liberation-serif-r.woff") format("woff"),
		url("/fonts/liberation-serif-r.ttf") format("truetype"),
		url("/fonts/liberation-serif-r.svg#LiberationSerifRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Liberation Serif";
	src:
		local("LiberationSerif-Italic"),
		local("Liberation Serif Italic"),
		local("Liberation Serif"),
		url("/fonts/liberation-serif-i.woff") format("woff"),
		url("/fonts/liberation-serif-i.ttf") format("truetype"),
		url("/fonts/liberation-serif-i.svg#LiberationSerifItalic") format("svg");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Liberation Serif";
	src:
		local("LiberationSerif-Bold"),
		local("Liberation Serif Bold"),
		local("Liberation Serif"),
		url("/fonts/liberation-serif-b.woff") format("woff"),
		url("/fonts/liberation-serif-b.ttf") format("truetype"),
		url("/fonts/liberation-serif-b.svg#LiberationSerifBold") format("svg");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Liberation Serif";
	src:
		local("LiberationSerif-BoldItalic"),
		local("Liberation Serif Bold Italic"),
		local("Liberation Serif"),
		url("/fonts/liberation-serif-bi.woff") format("woff"),
		url("/fonts/liberation-serif-bi.ttf") format("truetype"),
		url("/fonts/liberation-serif-bi.svg#LiberationSerifBoldItalic") format("svg");
	font-weight: bold;
	font-style: italic;
}

/* Sans-serif typeface */
@font-face {
	font-family: "Liberation Sans";
	src:
		local("LiberationSans-Regular"),
		local("Liberation Sans Regular"),
		local("Liberation Sans"),
		url("/fonts/liberation-sans-r.woff") format("woff"),
		url("/fonts/liberation-sans-r.ttf") format("truetype"),
		url("/fonts/liberation-sans-r.svg#LiberationSansRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Liberation Sans";
	src:
		local("LiberationSans-Italic"),
		local("Liberation Sans Italic"),
		local("Liberation Sans"),
		url("/fonts/liberation-sans-i.woff") format("woff"),
		url("/fonts/liberation-sans-i.ttf") format("truetype"),
		url("/fonts/liberation-sans-i.svg#LiberationSansItalic") format("svg");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Liberation Sans";
	src:
		local("LiberationSans-Bold"),
		local("Liberation Sans Bold"),
		local("Liberation Sans"),
		url("/fonts/liberation-sans-b.woff") format("woff"),
		url("/fonts/liberation-sans-b.ttf") format("truetype"),
		url("/fonts/liberation-sans-b.svg#LiberationSansBold") format("svg");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Liberation Sans";
	src:
		local("LiberationSans-BoldItalic"),
		local("Liberation Sans Bold Italic"),
		local("Liberation Sans"),
		url("/fonts/liberation-sans-bi.woff") format("woff"),
		url("/fonts/liberation-sans-bi.ttf") format("truetype"),
		url("/fonts/liberation-sans-bi.svg#LiberationSansBoldItalic") format("svg");
	font-weight: bold;
	font-style: italic;
}

/* Defaults */

html, body {
	height: 100%;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
}

body {
	display: block;
	padding: 0px;
	margin: 0px;
	font: normal normal normal 20px/1.366em "Liberation Sans", "DejaVu Sans", "Droid Sans", sans-serif !important;
	background-color: #1E2329;
	color: #d0d6da;
}

h1, h2, h3, h4, h5, h6 {
	margin: 20px auto 20px auto;
	font-weight: bold;
	line-height: 1.366em;
}

h1 {font-size: 180%;}
h2 {font-size: 160%;}
h3 {font-size: 140%;}
h4 {font-size: 133%;} /* WebKit/Chrom(e|ium) fix: +3% to avoid the twitchy sizing when hovering a heading with a para-ref (whhhhhhhyyyyy) */
h5 {font-size: 120%;}
h6 {font-size: 110%;}

ol, ul {
	margin: 20px 0px 20px 40px;
}
p {margin: 20px 0px;}
blockquote, q {margin: 20px; margin-left: 40px;}

code {
	font-family: monospace;
}

ol {list-style: decimal;}
ul {list-style: disc;}

a		{color: #5299cc; text-decoration: none;}
a:hover	{color: #b3dfff; text-decoration: underline;}

em {font-style: italic;}
strong {font-weight: bold;}
small {font-size: 80%;}
big {font-size: 120%;}
.underline {text-decoration: underline;}

sup {
	vertical-align: super;
	line-height: 12px;
	font-size: 80%;
}
sub {
	vertical-align: sub;
	line-height: 12px;
	font-size: 80%;
}

/* Stylers */

.normal-inset {margin-left: 20px;}

.div-relative {position: relative;}
.generic-float-right {float: right;}
.generic-center {margin-left: auto; margin-right: auto;}
.generic-center-text {text-align: center;}

.rotate-90 {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);

	transform-origin: center center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
}

.f-serif {font-family: "Liberation Serif", Georgia, "Droid Serif", serif;}
.f-sans {font-family: "Liberation Sans", "DejaVu Sans", "Droid Sans", sans-serif;}
.f-style-sc {font-variant: small-caps;}
.f-sz-norm {font-size: 20px;}
.f-sz-larg {font-size: 22px;}

.separator {
	width: 100%;
	border: none;
	border-bottom: 1px #45484a solid;
	margin-bottom: 20px;
}

.separator-inner {
	width: 40%;
	border: none;
	border-bottom: 1px #45484a solid;
}

.para-ref {
	display: inline;
	visibility: hidden;
}
.para-ref>a {
	margin: auto 5px auto 5px;
	padding: 0px 5px 0px 5px;
	font-weight: normal;
	text-decoration: none;
}
.para-ref>a:before {content: "#";}

h1:hover>.para-ref,
h2:hover>.para-ref,
h3:hover>.para-ref,
h4:hover>.para-ref,
h5:hover>.para-ref,
h6:hover>.para-ref
{
	visibility: visible;
}

.mobile-hidden {
	visibility: visible;
}

@media only screen and (max-width: 801px) {
	.mobile-hidden {
		display: none !important;
		visibility: hidden !important;
	}
}

.fill-span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

/* Top-level */

.__wrapper {
	position: relative;
	min-height: 100%;
	margin: 0px auto;
}

.top_container {
	min-height: 100%;
	margin: 0px;
	padding-bottom: 180px; /* top_footer.height+80px */
}

.top_align_center {
	max-width: 960px;
	height: 100%;
	margin: 0px auto 0px auto;
}

/* Navigation bar */

.navbar {
	display: block;
	width: 100%;
	height: 48px;
	white-space: nowrap;
	background-color: #000000;
	margin-bottom: 20px;
}

a.nav-item {
	height: 48px;
	line-height: 48px;
	text-decoration: none;
	color: #aaaaaa;
}

a:hover.nav-item,
a.nav-item.active {
	text-decoration: none;
	color: #ffffff;
}

.navbar>nav {
	display: block;
	margin: 0px auto 20px auto;
	height: 48px;
	overflow: hidden;
	font: 20px "Liberation Sans", "DejaVu Sans", "Droid Sans", sans-serif;
}

@media only screen and (max-width: 801px) {
	.navbar>nav {
		overflow-x: auto;
		overflow-y: hidden;
	}
}

.navbar>nav>ul {
	max-width: 920px;
	display: flex;
	list-style: none;
	margin: 0px auto 0px auto;
	padding: 0px 6px 0px 6px;
}

.navbar>nav>ul>li {
	flex-shrink: 0;
	margin: 0px 6px 0px 6px;
	height: 48px;
}

/* Footer */

.top_footer {
	position: absolute;
	bottom: 0px;
	height: 100px;
	width: 100%;
	font-size: 18px;
	background-color: #000000;
	border-top: 1px #0f0f0f solid;
	color: #5a6062;
}

.footer_align_center {
	max-width: 960px;
	padding: 20px 40px 0px 40px;
	margin: 0px auto 0px auto;
}

.top_footer .center {
	margin: 0px auto 0px auto;
	text-align: center;
	clear: both;
}

.top_footer .left  {float: left;}
.top_footer .right {float: right;}

.top_footer a {color: #336080;}
.top_footer td {
	padding-left: 5px;
	padding-right: 5px;
}

/* Other stuff */

.post_list {
	list-style: none;
	margin: 0;
}

.post_list>li {}

.post_list>li>div {
	padding: 10px 16px 10px 16px;
}

.post_category {
	min-width: 80px;
	display: inline-block;
	text-align: right;
}

.post_part_separator {
	padding-left: 8px;
	padding-right: 8px;
	display: inline-block;
}

.post_list>li:hover {
	text-decoration: none;
	background-color: #16161d;
	color: #ffffff;
}

a.post_title,
a.post_title:hover {
	text-decoration: none;
	color: #d0d6da;
}

/* Article */

.article_container {
	display: block;
	margin-right: 20px;
	margin-left: 20px;
}

.article_container blockquote:before {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	/*margin-right: 20px;*/
	margin-top: 10px;
	margin-left: -40px;
	font-style: normal;
	font-size: 60px;
	content: "“";
}

.article_container blockquote.excerpt {
	color: #aaafb3;
	border-left: #45484a 2px solid;
	padding-left: 10px;
}
.article_container blockquote.excerpt:before {
	display: none;
}

._main_content.post {
	margin-left: 20px;
	margin-right: 20px;
	overflow: hidden;
}

/* Headers */

.article_container>header {
	margin: 10px 0px 20px 0px;
}

.article_container>header>hgroup {
	margin-bottom: 20px;
}

.article_container>header .title {
	margin: 5px 0px;
}
.article_container>header .subtitle {
	margin: 5px 0px;
	font-size: 110%;
}

/* Post sections */

.header-info-banner,
.author-banner {
	clear: both;
	background-color: #16161d;
}

.header-info-banner {
	margin-top: 10px;
	padding: 5px 10px;
	font-style: italic;
}
.header-info-banner .pubdate {
	float: right;
}

.sep_footnotes,
.sep_comments {
	margin-top: 40px;
	font-size: 110%;
}

.author-banner {
	margin-top: 40px;
	padding: 5px 10px;
}

footer>ol li, footer>ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.series-post-link-container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.series-post-link {
	background-color: #16161d;
	margin-bottom: 10px;
	padding: 5px 10px;
}

.series-post-link>a:hover {
	text-decoration: none;
}

/* This really just doesn't work well. */
/*.series-post-link-center {
	text-align: center;
	width: 100%;
	max-width: 100%;
	position: absolute;
	z-index: -1;
	font-variant: small-caps;
}*/

.series-post-link-prev {
	float: left;
}

.series-post-link-next {
	float: right;
}

/* Post comments */

/*.comments #disqus_thread #dsq-content #dsq-comments .dsq-comment-message {}*/
