---
layout: generic
nav-active: archive

title: Archive
---
<p>Here be the dusty archives. Please peruse our collection quietly, and don't forget to turn off the lights as you leave.</p>

{% for post in site.posts %}

{% capture __temp %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
{% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
{% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}
{% endcapture %}{% assign __temp = null %}

{% if forloop.first %}
	<h2 id="{{ this_year }}" class="separator">{{ this_year }}<a class="para-ref" href="#{{ this_year }}"></a></h2>
	<h5>{{ this_month }}</h5>
	<ul>
{% endif %}

{% capture __minify %}
{% assign _category_list = post.categories %}
<li>
	<span title="Last updated {% include article/format_datetime_latest %}">
		<time pubdate datetime="{% include article/machine_datetime %}">
			{% include article/format_datetime %} &diams;
		</time>
	</span> 
	{% include common/fancify_category_list %} &rArr; 
	<a href="{{ post.url }}">
		{% if post.h-title %}
			{{ post.h-title }}
		{% else %}
			{{ post.title }}
		{% endif %}
	</a> 
	by <a href="{% assign _author = post.author %}{% include fetch/author/about-url %}">{{ post.author }}</a>
</li>
{% endcapture %}{% include common/minify_reprint %}

{% if forloop.last %}
	</ul>
{% else %}
	{% if this_year != next_year %}
		</ul>
		<h2 id="{{ next_year }}" class="separator">{{ next_year }}<a class="para-ref" href="#{{ next_year }}"></a></h2>
		<h5>{{ next_month }}</h5>
		<ul>
	{% elsif this_month != next_month %}
		</ul>
		<h5>{{ next_month }}</h5>
		<ul>
	{% endif %}
{% endif %}

{% endfor %}
{% assign _post_modded = null %}
