---
layout: generic
nav-active: archive

title: Archive
description: "Ramblings of a citizen of the universe."
---
{% capture _post_count %}{{ site.posts | size }}{% endcapture %}
{% if _post_count != "0" %}
<ul class="post_list">
{% for post in site.posts %}
{% capture __minify %}
	{% assign _author = post.author %}
	<li class="border-radius-4">
	<div class="div-relative">
		<span class="rp-category-name mobile-hidden"><em>{% assign _category_list = post.categories %}{% include post/root_category %}</em></span><span class="mobile-hidden">&rarr; </span>
		<span><a href="{{ post.url }}">{% assign _page = post %}{% include fetch/page/fancy_title %}</a></span>
		<a href="{{ post.url }}" title="Last updated {% assign _page = post %}{% include post/format_datetime_latest %}"><span class="fill-span"></span></a>
	</div>
	</li>
{% endcapture %}{% include common/minify_reprint %}
{% endfor %}
</ul>
{% else %}
<p>No posts!</p>
{% endif %}
{% assign _post_count = null %}
