---
layout: post
enable-comments: true

date: 2012-02-09T05:14:00-05:00
last-modified: 2014-11-23T22:40:00-05:00

author: plash
categories: [criticism]
tags: []
title: The wrongness of metadata on Grooveshark
subtitle:
---

<p>Most people are unwittingly terrible at handling music metadata. They also seemingly take great measures to run said music through a grate, lightly toast it and, finally, smother with a strange, sticky substance. These sticky musics somehow found their way into <a href="http://blog.grooveshark.com" target="_blank">Grooveshark</a>, a service that apparently enjoys suffering.</p>

<p><span title="I mean, when I have to. Quite frankly, I barely use the site anymore.">And I can hardly stand it</span>.</p>

<p>When your users have to manually search through duplicate &ndash; sometimes <em>triplicate</em> or moreplicate &ndash; tracks from the same album or artist just to build a chronologically-ordered playlist, you are doing something wrong. Since users push-started Grooveshark with upbloated content (you should already know where I'm going with this), what Grooveshark ended up consisting of, succinctly, is this: a myriad of collections with metadata in every possible form of <strong>wrong</strong>. Though, artists can actually edit their own uploaded music's metadata, so they are less of an issue &mdash; but an issue nonetheless. The majority probably don't know what any of this “metadata” mumbo jumbo even means.</p>

<p>Anywho, have a look-see at <a href="http://listen.grooveshark.com/#!/search?q=flcl" target="_blank">this search for FLCL</a>. It illustrates the following <strong>wrongs</strong>:</p>

<ul>
	<li>incorrectly translated data;</li>
	<li>incorrectly placed data (half of the damned tracks have “Anime” as the artist!);</li>
	<li>incorrectly cased data (all too often);</li>
	<li>incorrectly encoded data;</li>
	<li>partial data;</li>
	<li>etc. etc.</li>
</ul>

<p>This <strong>wrongery</strong> isn't limited just to foreign, less-popular artists. You can find plenty examples of these wrongs all over Grooveshark &mdash; go ahead and look around if you're not convinced. <a href="http://grooveshark.com/#!/search?q=Explosions+in+the+Sky" target="_blank">Explosions in the Sky</a> is as good a pick as any other.</p>

<h2 id="suggesticus" class="separator">Suggesticus<a class="para-ref" href="#suggesticus"></a></h2>

<p>Now that I have illustrated my illustrations and listed a list, I shall make a series of suggestions to Grooveshark. First, users should be asked the following (quite reasonable) questions before they can upload music:</p>
<ul>
	<li>“Do we already have this collection?” (gently offering the user a giant search bar, enticing them to be sure); and</li>
	<li>“Did you use a flamethrower on the metadata?” (if so they should be immediately ostracized).</li>
</ul>

<p>Second (and I'm surprised this isn't already a part of the service &mdash; it truly boggles the mind), Grooveshark should fix tags automagically. They could assumedly easily utilize <a href="http://musicbrainz.org" target="_blank">MusicBrainz</a> to fix a majority of the partially- and incorrectly-tagged collections.</p>

<p>If a user attempts to upload a collection that has already been uploaded, theirs should be rejected; or if the uploaded collection completes a matching <em>partial</em> collection, the two should be merged. Collections that were not found in the MusicBrainz database should either be rejected (this will happen when the tags are mostly incorrect or wholly nonexistent, though PUIDs could potentially be used to alleviate this in some cases) or marked as ‘uncertain’ (see below).</p>

<p>Finally, users should be able to edit tags. I'm aware of the difficulties and possible downsides in such a prospect, but it can be done and Grooveshark and their users will benefit greatly from such a feature. As I mentioned above, unrecognized collections could be marked as ‘uncertain’, the idea being that users can tell apart properly and unproperly tagged collections and correct them where necessary. There should at least be a rating or reporting system so that trolls can be punished, or banished entirely from changing tags.</p>

<p>This <strong>wrongery</strong> is nearly my own complaint with Grooveshark &mdash; and it is admittedly a very big one. I find them otherwise to be an excellent music streaming service. They're also surprisingly good at dodging litigation in an age where publishers have aged ideals &mdash; they are in the rich kid's sandbox, and the rich kid is dangerously powerful.</p>

{% include post/footnotes_start %}
<ul>
	<li id="fn-original-links">This article originally had a list of links to similar petitions; the sites they were hosted on have since been discontinued by Grooveshark.</li>
</ul>
{% include post/footnotes_end %}
