-- article_class = nil
-- article_styles = nil
-- article_font = "sans"
---content---
<!DOCTYPE html>
<html lang="en" {@ "core/bits/microdata/scope_html" @}>
<head>
	<meta charset="utf-8" />

	<title>{{ page_title(C.title) }}</title>
	<link rel="canonical" href="{! canonical_url(C.url) !}" />

	<link rel="icon" type="image/png" href="/images/icons/favicon-32.png" />
	<link rel="shortcut icon" href="/favicon.ico" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

	<link rel="alternate" type="application/atom+xml" title="Atom feed" href="/atom.xml" />

	<link rel="stylesheet" href="/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/css/screen.css" type="text/css" />

	{@ "core/bits/analytics_script" @}
</head>
<body>

<!-- body start -->
<div class="__wrapper">

<div class="navbar">
	<nav>
		<ul>
		{% for _, item in pairs(Site.nav_default) do %}
			<li><a class="nav-item{% if C.nav_active == item then %} active{% end %}" href="{! item.url !}">{{ item.text }}</a></li>
		{% end %}
		</ul>
	</nav>
</div>

<!-- header and main -->
<div class="top_container">
<div class="top_align_center">
	<!-- article start -->
	<article class="article_container {! C.article_class !} {#@ "bits/page/style" @#}">

{@ "core/bits/microdata/fields" @}

{! C.content !}

	</article>

</div>
</div>

<!-- footer start -->
<footer class="top_footer">
<div class="footer_align_center">
	<div class="center">
		<span>&Omega;</span>
	</div>
	<div class="center">
		<span>&copy; {{ Site.run_years }} <a href="//komiga.com" target="_blank">komiga</a></span>
	</div>
</div>
</footer>

</div>

</body>
</html>