layout = "default"
-- nav_active = nil

-- article_class = "post"

-- custom_post_header = false

-- enable_comments = false
-- disqus_legacy_identifier = false
-- copyright_notice = Site.copyright_notice.XXX

-- title = nil
-- h_title = nil
-- subtitle = nil
-- h_subtitle = nil
-- author = nil
-- categories = {}
-- tags = {}
---content---
{% if C.custom_post_header then %}

{@ "bits/post/header_start" @}
	{@ "bits/post/headline" @}
	{@ "bits/post/info-banner" @}
{@ "bits/post/header_end" @}

{@ "bits/post/CONTENT" @}

{% else %}

{! C.content !}

{% end %}

<div class="author-banner border-radius-4">
<div id="copyright-notice" class="generic-center-text">
	<small>{@ "bits/post/copyright_notice" @}</small>
</div>
</div>

<div id="comments" class="f-sans f-sz-norm">
<h4 class="separator sep_comments">Comments<a class="para-ref" href="#comments"></a></h4>
	{@ "bits/post/comments_content" @}
</div>

{@ "bits/post/comments_load" @}
