---
layout: post
enable-comments: true

date: 2012-07-11T21:30:00-04:00
last-modified: 2014-11-23T22:40:00-05:00

author: plash
categories: [fiction]
tags: []
title: All out
subtitle: 
---

<p>“I'm all dried up, Merla; my creative tanks are emptier than&hellip; I can't even come up with a worthy metaphor!” Amer despaired, elbowed over the smoldering tea and rubbing his eyebrows.</p>

<p>Not offering much solace, she replied: “Then why tax yourself in the futile attempt to produce something marginally interesting out of every passing whim?”</p>

<p>“I can't help it. There's always this itch, this nagging voice, but I haven't got the chloroform to silence it. Admittedly, the constant hours tapping away like a dysfunctional woodpecker is like throwing paint at a wall in an attempt to reproduce the Mona Lisa.”</p>

<p>&hellip;</p>

<p>“I still think you should take up skydiving” (breaking the silence).</p>

<p>“She's surely annoyed by all this, already &mdash;” he thought, “months of my incessant whining.”</p>

<p>“Actually, I was thinking about doing the whole monk thing &mdash; take up Buddhism or something in a monastery.”</p>

<p>“Haha, that would fit you so well. I'm picturing you in an orange robe, towering over a bunch of little Indian monklings.”</p>

<p>“I've almost convinced myself to do it.” He takes a cautious sip of the tea.</p>

<p>“What's stopping you?”</p>

<p>“My cat. I don't think Samantha would enjoy being stuck with her.”</p>

<p>“I can catsit for you no probs; you'll be back before a fortnight anyways, right?”</p>

<p>“I'm serious. The whole nine, er, gazillion yards.”</p>

<p>“Mmmhm” she murmurs, sipping her latte through one of those bendy straws.</p>

<p>“I don't know how you can stand to drink that. It's full of junk.”</p>

<p>“And your radioactive tea is <em>so</em> much better?” she quips out the side of her straw-occupied mouth, with an accompanying smirk.</p>

<p>Pushing the cup aside and sitting back, he returns with a frown: “Hardly. I'd never believe this stuff is real. It's probably synthesized from fresh refuse &mdash; it's probably <em>worse</em> than radioactive tea.”</p>

<p>&hellip;</p>

<p>“Maybe I could take her with me&hellip;” he pondered aloud, though mostly wondering to himself.</p>

<p>“Aah, it's already two-thirty” now rising and glaring at her smartphone. “I've gotta go meet Dez for a wrecking party in her kitchen. We're going to tear the place up &mdash; want to join us?”</p>

<p>“You make physical labor sound <em>so exciting</em>.”</p>

<p>“What can I say? I like smashing things into tiny bits” (dealing a swift phantom-sledgehammer strike to an unknowing patron).</p>

<p>“I'll pass, thanks.”</p>

<p>“You sure? Lots'a fun you're gonna miss out on” (swinging the fearsome sledgehammer to shoulder, showing some brawn).</p>

<p>“As much as I might enjoy splintering Dezora's grimy old cabinets or shattering her creepy floors, I have to catch a very important date with a bench.”</p>

<p>“Don't forget that you're forbidden to frolic in <em>other pastures</em>.”</p>

<p>“Blast! Foiled once again by my quixotic lady and her menacing sledgehammer.”</p>

<p>She salutes with “my pleasure, sir”, turns very martially on point and marches, shadow-sledge still shouldered, out the automatic door.</p>

<p>&hellip;</p>

<p>After some time in silent musing, thinking it upon himself to inform the liquid-death dispensary of its detestable product, he scribbles on a sliver of paper:</p>

<blockquote>
<p>I should have you know, waiter or waitress, that this establishment's so-called tea is the most unsavory poison I have ever had the displeasure to measure.</p>
<p>A thousand effervescent toads upon thee!</p>
<p><em>Your's hardly,<br />
an unimpressed patron</em></p>
</blockquote>

<p>He slips out of his chair, leaving the note folded (but not creased; rather: ready to spring) under the lifeless cup.</p>

<p>&hellip;</p>

<p>Now walking down the street, a Bond tune comes to mind (the signature one); he imagines the Austin Martin now zooming past to be in hot pursuit of some mega-evil villain, but the scene is cut short as the vehicle lurches to a halt on the traffic signal's scarlet command.</p>

<p>&hellip;</p>

<p>He greets the stone-made bench in usual mental dialogue: “Hello, steadfast park bench; I have come once again to keep you company in the observation of the pedestrians.”</p>

<p>“About time you showed up.”</p>

<p>“Sorry, I was chatting over shabby beverages with Merla” (sitting down).</p>

<p>“Lovely, I am sure. The old duck lady is here.”</p>

<p>“Yes, I see that. Ever busy poisoning them with peanut butter.”</p>

<p>“And &ndash; look &ndash; that guy with the bulldog. His vagrant beast urinated <em>and</em> defecated on my foot the other day.”</p>

<p>“Which one?”</p>

<p>“Right.”</p>

<p>Amer shifts to the left side of the bench. “Disgusting creatures.”</p>

<p>“Veritably.”</p>

<p>&hellip;</p>

<p>“So, how're things?”</p>

<p>“Still haven't gotten a bath; that voracious maple continues to uproot the path stones, unabated; ever more chilled sugar spilled topside, ample gum plating underside; and the skateboard kid still hops all over me every weekday morning &mdash; someday I'll spontaneiate a pair of fists and clock 'em in the groin. &hellip; But you <em>know</em> nothing ever really changes around here.”</p>

<p>“Silly of me to ask.”</p>

<p>“How's that creative block treating you?”</p>

<p>“Lost on the 87th avenue &mdash; I've become quite familiar with the place.”</p>

<p>“That bad, eh? Maybe you should take up skydiving.”</p>

<p>“Second time today I've heard that suggestion.”</p>

<p>“Nothing like a bit of drop-yourself-to-the-Earth to invigorate the mind juices.”</p>

<p>“If only one could have a chance at missing.”</p>

<p>“You're always like this.”</p>

<p>“It's my nature.”</p>

<p>&hellip;</p>

<p>“Something has been bothering me.”</p>

<p>“What would that be?”</p>

<p>“I can't figure out how I ended up being surrounded by women. I literally have no dude friends.”</p>

<p>“That's because you're so damn charming, Amer.”</p>

<p>“I don't buy it. Maybe it's because I've been around Merla so much, they think I'm fun to be around and, by peer review, suitably uncreepy for friendship?”</p>

<p>“My faculties don't go so far as relationship advice, Amer. I am only a bench.”</p>

<p>&hellip;</p>

<p>“The Emersons! Quick, feign slumber! Ah, wait, that may make them more concerned&hellip;”</p>

<p>“Have you forgotten? They haven't really bothered me since the marble incident.”</p>

<p>“Oh, right. They're still quite bitter about that, by the way.”</p>

<p>“Just nod and smile, nod and smile.”</p>

<p>&hellip;</p>

<p>“Amer, I've been doing some thinking.”</p>

<p>“Yeah? About that manly statue taunting you, again?”</p>

<p>“No. I <em>was</em> thinking &hellip; that maybe we shouldn't hang out anymore. You're not helping your situation by moping around with me. You should be with Merla, enjoying the kind of life I'm physically unable to attain. Plus, I'm literally three times your age.”</p>

<p>“Oh hey, Merla just sent me a message. It's &hellip; oh wow, she wasn't kidding. That is an <em>obliterated</em> countertop.”</p>

<p>“You're not listening to me.”</p>

<p>“All ears; please, continue.”</p>

<p>“You can't keep living like this. You've got to pick yourself up at some point &mdash; and your cousin isn't going to endure your presence forever, you know.”</p>

<p>“Actually, Sam quite likes my cooking. Would you kick a free chef out the door?”</p>

<p>The bench pretends to not hear Amer's deflection: “And what if I'm the cause of your deficiency?”</p>

<p>“I prefer to think that you're helping me with me with it.”</p>

<p>“You see the same shit here every week, Amer. I don't think you can glean anything more from the plebeians &mdash; they're more pitiful than you are.”</p>

<p>“I'd hardly say so. Ol' granny has an ingeniously sinister plan to eradicate the ducks, ultimately converting the carpet of feces to a smattering of expired duck carcasses; that fat guy is actually losing some weight; and &hellip; Yeah, maybe you are right.”</p>

<p>“At last, you see reason.”</p>

<p>&hellip;</p>

<p>Amer stands and arches his back in a stretch. “I think I <em>shall</em> take some time away from the park.”</p>

<p>“Good. But before you leave me to the bitter-cold canopy of night, pray do try to convince the park-keeper to give me a thorough washing, won't you please?”</p>

<p>“Sure thing.”</p>

<p>Amer saunters over to the park's shed and scrawls onto found parchment:</p>

<blockquote>
<p>Dearest gentle park-keeper, I come to you in such an utterly sorry, desolate state with one humble request: that I, the last hope for exhausted man-legs, should receive the same tender care as the stones on which they tread &mdash; namely: a power-washing.</p>
<p>Also, a strategically-placed sign that reads ‘HOW DARE YOU SKATE ON THIS BENCH, MISCREANT!’ would, I imagine, work well to put an end to the inexcusable crimes of a certain punk-ass kid. Just a suggestion.</p>
<p><em>Questioning the judgment backing his placement near such a menacing maple tree and aching in disgusting grime,<br />
a park bench</em></p>
<p>P.S. Make sure you scrape off all the gum on my belly.</p>
</blockquote>

<p>He then, with pocketed hands, headed off towards Samantha's house. The Sun was setting.</p>

{% include post/footnotes_start %}
<ul>
	<li id="fn-why">An experiment with visual suggestion and imagination??</li>
</ul>
{% include post/footnotes_end %}
