---
layout: post
enable-comments: true

date: 2012-05-11T00:34:00-04:00
last-modified: 2014-11-23T22:40:00-05:00

author: plash
categories: [fiction]
tags: []
title: The Ascendant Order
subtitle:
---

<p>“Alack!” he cried, “my vision was clouded from the truth; I beg forgiveness for my actions!”</p>

<p>Ardet looked upon him with a scowl. “Forgiveness is not yours to beg,  nor is it ours to offer; redemption is lost to those who have fallen.” He motioned to the man's captors, and they dragged him out of the chamber.</p>

<p>“For a moment I thought you would have him slain, brother,” a towering Ascendant boomed as he entered, his words echoing throughout the chamber.</p>

<p>“Death will bring no justice, Daelik, and the dead do not speak the tongues of man.”</p>

<p>“You are blinded by your justice. Sooner would the tides shift with the fallen crushed than rotting unseen!”</p>

<p>Ardet barely began a taut response when a monk broke her torpid meditation: “My brothers, we gain nothing from questioning the actions of our peers &mdash; we are given charge by our strengths for a reason. Daelik, I believe you can see clearly enough that such brutish tactics will only further this evil. The flames will be quenched only after we are in harmony.”</p>

<p>“What do you know, with your mind so detached from this world! We need to assert the Order's strength for humanity to survive. Fear is a tool not exclusive to evil!”</p>

<p>“Enith is right, brother. Wanton violence wrought this unholy cause, and more will only serve to feed it.”</p>

<p>“And yet this course of inaction returns nothing,” Daelik uttered as he stormed out.</p>

<p>Upon this Enith shut her eyes and sat again on the resplendent stone floor. She appeared to be in a lucid trance, turning her head to and fro in abrupt but slow movements; her expression shifting from joy to anger, ecstasy to grimace.</p>

<p>The monks of yore were taught by the Balance of a “plane of time,” a hidden facet of the world which only the attuned and enlightened can access. Enith once described it as an “immeasurable coalescent stream of sound, light, and script; ephemeral strands of pasts and futures forming and dissolving constantly.”</p>

<p>Ardet sat in front of her, calming himself. “What is it, sister? What fates are foreseen?”</p>

<p>A grim twitch, as though heartstrings were plucked.</p>

<p><em>“Ere they came, Malice clenched the world and burned it. Strong ones sought to protect it. Valor embodied them, and Malice was subdued. Bore of this spring, the Ascendant Order kept peace for ages.”</em></p>

<p>Flat and undertone, the words never seemed to come from her directly, as though the flesh were an instrument of unseen agents. It often began with ancient times, like a continually recounting narrative of life, and the words were always framed as a past that exists.</p>

<p><em>“But humanity lost its purity. Malice burned the world again and blood flowed; legion skies burst with crimson storm, aching unease. The world saw chaos and war. The Order was tested.”</em></p>

<p>Once silent, Enith suddenly fell forward, limp; Ardet caught her and laid her head onto a cushion. The journey is always followed by a deep sleep, the body sapped of energy.</p>

<p>Ardet stood and walked through a hall to a large balcony towering over Renaka: the Ascendant Order's birthplace, a massive sprawl of human architecture. The season is mid-Autumn. Dark clouds and sparks on the horizon tell of a gathering storm.</p>

<p>Ardet takes a deep breath of the cool air.</p>

<p>“Our test begins.”</p>

{% include post/footnotes_start %}
<ul>
	<li id="fn-why">The why: Monks are cool. Really why: plash has been reading too much Diablo III fiction. Also, this has nothing to do with the Diablo universe. Also also, plash apologizes profusely.</li>
</ul>
{% include post/footnotes_end %}
