---
layout: post
enable-comments: true

date: 2012-02-28T16:36:00-05:00
last-modified: 2014-11-23T22:40:00-05:00

author: coranna
categories: [fiction]
tags: []
title: Hackers disrupt OPS surveillance third time this quarter
subtitle:
---

<p>Hacker group ‘pecker’ (suspected of belonging to the rising underground) has once again attacked the local Orean Public Security surveillance network, “exploiting critical infrastructure,” so says head network engineer Wayne Essin of OPS.

<p>“On a normal day we receive on the order of four- to seven-thousand probes per minute, many of which are harmless botnets hapazardly knocking on anything they run into. I say harmless because the probes they make are mostly to our public network &ndash; which is just as heavily fortified as our separate internal network &ndash; and because these botnets are typically dumber than an adolescent series 1 Galvin NN. These rarely make it into our networks, and if they do we make quick work of the hole and anything touched automatically gets patched over. Successful attacks are quite uncommon, especially under constant and vigilant scanning.</p>

<p>“The so-called ‘pecker’ hacker(s) initially gained access to the internal network by hijacking an active connection, but were stopped short by our security protocols. We estimate they took about two days to find a hole and craft an exploit for it, after which they quietly compromised several nodes and set off an array of exploits all at once. For the second attack, they used a hidden backdoor in one of the compromised nodes (which was only caught during the attack) and took the same trial-and-error approach.</p>

<p>“We're still analyzing the third attack, but it appears they've set an advanced decoy botnet against the network to shadow a much more sophisticated attack directly aimed at the surveillance and communication networks. The decoy botnet has brought us around 340,000 probes per minute at peak activity.”</p>

<p>OPS have reported several crimes executed during these attacks; it is unknown if these were happenstance, taking of opportunity, or in concert. There are also some crimes which <em>weren't</em> reported and are still under media blackout.</p>

<h3>Generation against the flow</h3>

<p>Concerned citizens are petitioning for more force against the underground to prevent the uprisal of a cohesive rebel group &mdash; which is proving quite hard to track due to ongoing cyber warfare against the state. Proponents have cited many issues: poor working conditions, inadequate protection and health services for Oranium miners, despotism in the government, market manipulation by private parties, and so on. Some believe the lack of OPS pressure is because they fear media attention &mdash; widespread recognition of state issues.</p>

<p>The new generation is more daring and less complacent, something that has echoed through the years as the government trips over its many promises. If things don't change to their liking, we may very well see a violent uprising.</p>

{% include post/footnotes_start %}
<ul>
	<li id="fn-setting">I'm experimenting with random bits of a universe I've crafted for a periodic story (think of it like a webcomic, <span title="I can't do 'dem arts">but entirely in text</span>) which should be poking its ugly rear-end out of the cocoon soon enough. This somewhat misrepresents the actual style and content since it's from a journalist's perspective and sort of a prologue, BUT THERE 'YA GO.</li>
</ul>
{% include post/footnotes_end %}

