---
layout: link-post
enable-comments: true

date: 2012-03-16T02:32:00-04:00
last-modified: 2012-03-16T02:32:00-04:00

disqus_legacy_identifier: true

author: coranna
categories: [links]
tags: []
title: The Easy Pieces of Neil Dvorak
lp-url: http://easypiecescomic.com
lp-url-title: "Easy Pieces*"
lp-url-author: null
---

<p><small>* The linked site is Flash; see <a href="http://easypiecescomic.com/html">here</a> for a (less-complete) HTML version. Also, all links to the comic below (and on the site) are PDFs. It's worth it!</small></p>

<p>Where to begin!</p>

<p>&hellip;</p>

<p>Seriously, where do I begin? Neil Dvorak is one intriguing person. <em>Genuinly</em> intriguing. So intriguing that I'd befriend him if only to figure out his brain, to learn what amalgamation of experiences formed it into such a mass of awesome. Luckily, he gives us a peek.</p>

<p><a target="_blank" href="http://pioneerone.tv">Pioneer One</a><sup><a href="#fn-1">1</a></sup> was my first encounter with him. I had never heard of Neil Dvorak at the time, but his <a target="_blank" href="http://youtu.be/t9KNf48yvfA">opening sequence</a> for the show stuck with me. Its combination of mechanical behavior and superb line art set the feel of the show &mdash; at least for me. A piano piece plays to give the series its signature in sound, but it's only the somewhat overly-sugary icing on the (delicious and moist) cake.</p>

<p>And that was it. I mean, it was nice and it fit well, but, as I said, it seemed like a one-off. And it was more representative of his art (which is very good) than anything else (such as the awesomeness and quirkiness he puts into his own works). It didn't warrant even a cursory investigation to me at the time.</p>

<p>So, skipping past a few months from the end of Pioneer One, I come upon a tweet mentioning this odd comic called <a target="_blank" href="http://easypiecescomic.com">Easy Pieces</a>. I read through it a bit and readily recalled that opening sequence, remarking how similar, how unique the style was. After some more poking around, I confirmed that he was indeed the person responsible for Pioneer One's art.</p>

<p>Easy Pieces is something special &mdash; and it evades any explanation of mine, so I won't attempt to give one. In <a target="_blank" href="http://neildvorak.com/EasyPieces/EasyIntro.pdf">the intro</a>, we get the first glimpse of his gorgeous vectorized art and metaphoric nature &mdash; even by then I'm wholly invested. It only gets better &ndash; and crazier &ndash; with <a target="_blank" href="http://neildvorak.com/EasyPieces/AGregAndJettAdventure.pdf">A Greg &amp; Jett Adventure</a>, which is fantastically hilarious and certainly one of my favorites. The comic mostly speaks for itself, so I'll leave the rest up to you (there are a total of 7 strips and 2 interactive/animated things).</p>

<p>He also apparently did some <a target="_blank" href="http://neildvorak.com/strip/past">cartography</a> and some inexplicable illustrations which you might find interesting: <a target="_blank" href="http://neildvorak.com/strip/ocre">Ocre Piece</a>, <a target="_blank" href="http://neildvorak.com/strip/blue">Blue Piece</a>.</p>

<p>This was supposed to be short, so I'll just end with this: Neil Dvorak, keep being awesome &mdash; and make more Easy Pieces!</p>

{% include post/footnotes_start %}
<ol>
	<li id="fn-1">Pioneer One is free and quite awesome, check it out!</li>
</ol>
{% include post/footnotes_end %}

