---
layout: default
article-class: article
article-styles: article-font-fancy
article-element-data: 'itemscope itemtype="http://schema.org/Article"'
nav-active: null

#disable-inner-plusone: false
#enable-comments: false
#copyright-notice-type: site.copyright-notice-type-default

#date: null
#last-modified: null

#author: null
#categories: []
#tags: []
#title: null
#h-title: null
#subtitle: null
#h-subtitle: null
#excerpt: null
---

<meta itemprop="name" content="{{ page.title }}" />
<link itemprop="url" href="{% include common/canonical_url %}" />
<link itemprop="discussionUrl" href="{% include common/canonical_url %}#comments" />
<meta itemprop="datePublished" content="{% include article/machine_datetime %}" />
<meta itemprop="dateModified" content="{% include article/machine_datetime_latest %}" />
<meta itemprop="articleSection" content="{% include article/root_category %}" />

<meta itemprop="headline" content="{{ page.title }}" />
{% if page.subtitle %}
<meta itemprop="alternativeHeadline" content="{{ page.subtitle }}" />
{% endif %}

{% if page.excerpt %}
<meta itemprop="description" content="{{ page.excerpt }}" />
{% endif %}

<span itemprop="author" itemscope itemtype="http://schema.org/Person">
	<meta itemprop="name" content="{{ page.author }}" />
	<link itemprop="url" href="{% include fetch/author/about-url_absolute %}" />
</span>

<header id="article_header">
	<hgroup>
		<h1>{% if page.h-title %}{{ page.h-title }}{% else %}{{ page.title }}{% endif %}</h1>
	{% if page.subtitle %}
		<h5 style="font-weight: normal;">{% if page.h-subtitle %}{{ page.h-subtitle }}{% else %}{{ page.subtitle }}{% endif %}</h5>
	{% endif %}
	</hgroup>
	<div id="header" class="separator sep_header">
		by <a href="/authors.html#{{ page.author | replace: ' ', '-' }}">{{ page.author }}</a>
		in {% include article/root_category %}
		<span class="pubdate" title="Last updated {% include article/format_datetime_latest %}">
			<time pubdate datetime="{% include article/machine_datetime %}">
				{% include article/format_datetime %}
			</time>
		</span>
		<br style="clear: left;" />
	</div>
</header>

<span id="_actual_content" propname="articleBody">

{{ content }}

</span>

<div class="author-banner border-radius-4">
<div id="copyright-notice" class="generic-center-text">
	<small>{% include article/copyright_notice %}</small>
</div>
<div class="generic-center-text">
	{% assign _type_list = site.authors[page.author].personal-sites %}
	{% include common/render_personal_site_list %}
	{% include article/plusone_inner %}
</div>
</div>

<h5 id="comments" class="separator sep_comments">Comments<a class="para-ref" href="#comments"></a></h5>
<div id="article_comments" class="article-font-sans">
	{% include article/comments_content %}
</div>

{% comment %}
<!--
<footer id="article_footer">
	<p>Categories:</p>
	<ul>
	{% for category in page.categories %}
		<li>{{ category }}</li>
	{% endfor %}
	</ul>
</footer>
-->
{% endcomment %}

{% include article/comments_load %}
