---
#exclude-from-sitemap: false

nav-display-items: [
  root,
  archive,
  authors,
  authoring,
  about
]
#nav-active: null

#md-disabled: false
#md-metadata-disabled: false
#md-type: "WebPage"
#md-content-prop: "mainContentOfPage"
#md-content-scoped: true
#md-content-type: "WebPageElement"

#article-class: null
#article-styles: null
#article-font: "sans"

#disable-feedburner: false
#disable-twitter: false
#disable-flattr: false
#disable-plusone: false
disable-plusone-global: true
#disable-plusone-inner: false
#omega-text: null

#date: null
#last-modified: null
#title: null
#h-title: null
#subtitle: null
#h-subtitle: null
#image: site.meta.image
#description: null
---
<!DOCTYPE html>
<html lang="en" {% include microdata/scope %}>
<head>
	<meta charset="utf-8" />

	<title>{% include fetch/page/window_title %}</title>
	<link rel="canonical" href="{% include common/canonical_url %}" />

	<link rel="icon" type="image/png" href="/images/icons/favicon-32.png" />
	<link rel="shortcut icon" href="/favicon.ico" />

	<link rel="alternate" type="application/atom+xml" title="Atom feed" href="/atom.xml" />
{% if site.meta.feedburner_id %}
	<link rel="alternate" type="application/rss+xml" title="Feedburner" href="http://feeds.feedburner.com/{{ site.meta.feedburner_id }}" />
{% endif %}

	<link rel="stylesheet" href="/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/css/screen.css{% unless site.safe %}?{{ site.time | date: '%Y%m%d%H%M%S' }}{% endunless %}" type="text/css" />

	{% include component/plusone_script %}
	{% include component/analytics_script %}
</head>
<body>

<!-- body start -->
<div id="__wrapper">

<!-- header and main -->
<div id="top_container">
<div id="top_align_center">
	<div id="top_bar" class="border-radius-4">
		<nav>
			<ul>
			{% for name in page.nav-display-items %}
				{% assign _item = site.nav-items[name] %}
				<li><a class="nav-item{% if page.nav-active == name %}-active{% endif %}" href="{{ _item.url }}">{{ _item.text }}</a></li>
			{% endfor %}
			</ul>
		</nav>
	</div>

	<!-- article start -->
	<article id="article_container" class="{{ page.article-class }} {% include fetch/page/style %}">

	{% include microdata/fields %}

{{ content }}

	</article>

</div>
</div>

<!-- footer start -->
<footer id="top_footer">
<div id="footer_align_center">
	<div class="left">
		<table>
		<tr>
			<td>{% include component/feedburner_element %}</td>
			<td>{% include component/twitter_element %}</td>
			<td>{% include component/flattr_element %}</td>
			<td>{% include component/plusone_global %}</td>
		</tr>
		</table>
	</div>
	<div class="center{% if page.omega-text %} horiz-flip{% endif %}">
		<span{% if page.omega-text %} title="{{ page.omega-text }}"{% endif %}>&Omega;</span>
	</div>
	<div class="center">
		<span title="inner content is likely licensed and/or copyrighted to another entity &mdash; see details below">&copy; {{ site.meta.run-years }} komiga</span>
	</div>
	<div class="center">
		<a href="{{ site.nav-items.about.url }}#copyright-and-license">content copyright and license</a>
	</div>
</div>
</footer>

</div>

{% include component/plusone_load %}

</body>
</html>
