---
layout: default
nav-active: null

md-type: "Article"
#md-content-prop: "articleBody"
#md-content-scoped: false
#md-content-type: null

article-class: post

#enable-comments: false
#copyright-notice-type: site.copyright-notice-type-default

#author: null
#categories: []
#tags: []
---

<header id="post_header">
	<hgroup>
		<h1 class="title">{% include fetch/page/fancy_title %}</h1>
	{% if page.subtitle %}
		<h2 class="subtitle">{% include fetch/page/fancy_subtitle %}</h2>
	{% endif %}
	</hgroup>
	<div class="header-info-banner border-radius-4">
		by <a href="{% include fetch/author/about-url %}">{{ page.author }}</a>
		in {% include post/root_category %}
		<span class="pubdate" title="Last updated {% include post/format_datetime_latest %}">
			<time pubdate datetime="{% include post/machine_datetime %}">
				{% include post/format_datetime %}
			</time>
		</span>
	</div>
</header>

<div id="_main_content" {% include microdata/post-main-content %}>

{{ content }}

</div>

<div class="author-banner border-radius-4">
<div id="copyright-notice" class="generic-center-text">
	<small>{% include post/copyright_notice %}</small>
</div>
<div class="generic-center-text">
	{% assign _type_list = site.authors[page.author].personal-sites %}
	{% include common/render_personal_site_list %}
	{% include component/plusone_inner %}
</div>
</div>

<div id="comments">
<h6 class="separator sep_comments">Comments<a class="para-ref" href="#comments"></a></h6>
	{% include post/comments_content %}
</div>

{% comment %}
<!--
<footer id="post_footer">
	<p>Categories:</p>
	<ul>
	{% for category in page.categories %}
		<li>{{ category }}</li>
	{% endfor %}
	</ul>
</footer>
-->
{% endcomment %}

{% include post/comments_load %}
