---
layout: default
nav-active: null

md-type: "Article"
#md-content-prop: "articleBody"
#md-content-scoped: false
#md-content-type: null

article-class: post

#custom-post-header: false

#enable-comments: false
#copyright-notice-type: site.copyright-notice-type-default

#author: null
#categories: []
#tags: []
---
{% unless page.custom-post-header %}

{% include post/header_start %}
	{% include post/headline %}
	{% include post/info-banner %}
{% include post/header_end %}

{% include post/CONTENT %}

{% else %}

{{ content }}

{% endunless %}

<div class="author-banner border-radius-4">
<div id="copyright-notice" class="generic-center-text">
	<small>{% include post/copyright_notice %}</small>
</div>
<div class="generic-center-text">
	{% assign _type_list = site.authors[page.author].personal-sites %}
	{% include common/render_personal_site_list %}
	{% include component/plusone_inner %}
</div>
</div>

<div id="comments">
<h4 class="separator sep_comments">Comments<a class="para-ref" href="#comments"></a></h4>
	{% include post/comments_content %}
</div>

{% include post/comments_load %}
