---
layout: post
enable-comments: true

date: 2013-09-30T23:07:00-04:00
last-modified: 2014-12-11T00:41:00-05:00

author: plash
categories: [game]
tags: []
title: "Prince of Qin: a flawed wonder"
subtitle: 
---

<img src="/media/2013-09-30-poq/titlepiece.png" class="generic-center" style="display: block;" alt="Prince of Qin logo" title="Prince of Qin logo" />

<p>Despite its numerous flaws, <a target="_blank" href="https://en.wikipedia.org/wiki/Prince_of_Qin_(video_game)"><em>Prince of Qin</em></a> is one of few video games I hold in high regard. It's also a game that I am irrationally attached to. It won't leave me in peace. Or vice versa.</p>

<p>This article is sort-of documentation for the game and a chronicle of my time with it. I give a history and overview of <em>Prince of Qin</em> &amp; its related games, my experience with the game, and its possible futures in my care.</p>

<p>I supply Simplified Chinese for introductions, as well as pinyin and IPA where appropriate; if the pinyin is absent, its transliteration is roughly equivalent to the Chinese. If you want to learn more about the Qin Dynasty, the <a target="_blank" href="https://en.wikipedia.org/wiki/Records_of_the_Grand_Historian"><em>Shiji</em></a> (史記) covers it extensively. I cite specific passages from Burton Watson's translation <a target="_blank" href="http://www.amazon.com/Records-Grand-Historian-Dynasty-ebook/dp/B005DB3HSS"><em>Records of the Grand Historian: Qin Dynasty</em></a> (2013, 3rd edition) as SHIJI in the footnotes, although a fair majority of the storyline section is derived from it.</p>

<p>Fair warning: the next section is probably very boring. Skip past it if you're not interested in the time period in which <em>Prince of Qin</em> was released.</p>

<p>Alright, let's get at this tiger-fish!<sup><a href="#fn-did-you-hear-it">1</a></sup></p>


<h2 id="history" class="separator">History<a class="para-ref" href="#history"></a></h2>

<p>Object Software began development on <a target="_blank" href="https://zh.wikipedia.org/wiki/秦殇">《秦殇》</a> (<em>Qin War</em>; pinyin: Qín Shāng; IPA: /tɕʰin ʂɑŋ/) in 2000 and released in China during July 2002. They partnered with <a target="_blank" href="https://en.wikipedia.org/wiki/Strategy_First">Strategy First</a> to release in the United States market under the title <a target="_blank" href="https://en.wikipedia.org/wiki/Prince_of_Qin_(video_game)"><em>Prince of Qin</em></a> and brought a beta of the English version to E3 2002.</p>

<p>It was released to the US market in August 2002 with a full English dub. Reviewers criticized clunky mechanics, poor voice acting, and poor translation, but often praised the aesthetic, history-derivation, and music.<sup><a href="#fn-music">2</a></sup> These latter factors generally saved it from utterly dismal reviews. Western media often compared it to <a target="_blank" href="https://en.wikipedia.org/wiki/Diablo_II"><em>Diablo II</em></a> and <a target="_blank" href="https://en.wikipedia.org/wiki/Baldur's_Gate"><em>Baldur's Gate</em></a>.</p>

<p>Object Software also partnered with <a target="_blank" href="https://en.wikipedia.org/wiki/Capcom">Capcom</a> to release in the Japanese market under the title 「天覇光芒記　～プリンス・オブ・シン～」 (<em>difficult-to-translate Japanese-ey head-title &ndash; Prince of Qin</em>; romaji: Tenpakoubouki &ndash; Purinsu obu Shin). The release was pushed to August 2003 due to the localization team's pre-occupation with <a target="_blank" href="https://en.wikipedia.org/wiki/Blizzard_Entertainment">Blizzard Entertainment</a>'s <a target="_blank" href="https://en.wikipedia.org/wiki/Warcraft_III:_Reign_of_Chaos"><em>Warcraft III</em></a> and, unlike Strategy First, Capcom did not dub their release.</p>

<p>Online multiplayer began in China and the US shortly after release with a capacity of 500 players. The online service was called “Battle.Net” despite not having any relation whatsoever to Blizzard's <a target="_blank" href="https://en.wikipedia.org/wiki/Battle.net">online gaming service</a>.</p>

<p>Also after the Chinese and US releases, Object Software shifted to developing online-only games and made public an online-only standalone “expansion” called <em>Prince of Qin Online - The Overlord of Conquerors</em> (later called <em>World of Qin</em>) near the end of 2002. This shift was likely due to Blizzard's <a target="_blank" href="https://en.wikipedia.org/wiki/World_of_Warcraft"><em>World of Warcraft</em></a> announcement at E3 and the surrounding hype over massively-multiplayer online gaming.</p>

<p>In January 2004, Strategy First partnered with GMX Media to release in the United Kingdom market. Official English multiplayer servers died down through the year as patches reduced server stability and broke some fundamental mechanics.</p>

<p>In the same month, Object Software released its final (to date) singleplayer game: 《复活》 (<em>Resurrection</em>; pinyin: Fùhuó; IPA: /fuxu̯ɔ/), a more mythologically-derived “prequel” to <em>Prince of Qin</em>. GMX Media published the game in the UK in December with a full English dub under the title <em>Seal of Evil</em>. Strategy First later published the game in the US market in April 2006.</p>

<p><em>Seal of Evil</em> illustrates some experiments they would later incorporate into <em>World of Qin 2</em>, which utilized realtime 3D for actors. Object Software later grew into first-person 3D MMOs and hasn't looked back since.<sup><a href="#fn-dou-shen">3</a></sup></p>


<h2 id="storyline" class="separator">Storyline<a class="para-ref" href="#storyline"></a></h2>

<p><em>Prince of Qin</em> features a history-derived story set in the <a target="_blank" href="https://en.wikipedia.org/wiki/Qin_Dynasty">Qin Dynasty</a> (221&ndash;206 BCE) surrounding <a target="_blank" href="https://en.wikipedia.org/wiki/Fusu">Fusu</a> (扶苏), heir apparent of the <a target="_blank" href="https://en.wikipedia.org/wiki/Qin_Shi_Huang">First Emperor</a> (秦始皇帝; pinyin: Qín Shǐ Huángdì), after the First Emperor's death.<sup><a href="#fn-death-of-first-emperor">4</a></sup> What follows is an overview of the period and the events surrounding the story in real-world history.</p>

<p>Near the end of the <a target="_blank" href="https://en.wikipedia.org/wiki/Warring_States_period">Warring States period</a>, the Qin state <a target="_blank" href="https://en.wikipedia.org/wiki/Qin%27s_wars_of_unification">conquered and unified</a> the six major states. The king of the Qin state, Zhao Zheng (趙正), became the First Emperor of this unified China.</p>

<p>The Qin Dynasty standardized the units of measurement and currency, formed extensive trade routes, and unified the Chinese script. The First Emperor undertook massive projects, such as the Great Wall of China and his tomb, which is famous for its collection of life-sized <a target="_blank" href="https://en.wikipedia.org/wiki/Terracotta_Army">terracotta warriors and horses</a>.</p>

<p>However, the First Emperor used cruel law to control and subdue the people, and most of his tomb's workers were killed to ensure secrecy (by some counts, 300,000&ndash;720,000 people). He ordered <a target="_blank" href="https://en.wikipedia.org/wiki/Burning_of_books_and_burying_of_scholars#Book_burning">the mass burning of books</a> to suppress scholars (who were accused of raising dissent) and later <a target="_blank" href="https://en.wikipedia.org/wiki/Burning_of_books_and_burying_of_scholars#Burial_of_the_scholars">buried alive</a> more than 460 scholars<sup><a href="#fn-scholar-count">5</a></sup> after being deceived by two alchemists in his search for immortality, actions that drew criticism from his eldest son, Fusu.</p>

<p>Due to his numerous remonstrances, Fusu was exiled (ca. 212 BCE) to the north to supervise General <a target="_blank" href="https://en.wikipedia.org/wiki/Meng_Tian">Meng Tian</a> (蒙恬), who was in charge of the construction of part of the Great Wall (as it was <em>later</em> known). In the subsequent years, Fusu was very successful in protecting the northern border against the Huns and was universally liked among the troops.</p>

<p>In 210 BCE, the First Emperor died on a trip to the far east of the empire in search of an elixir of immortality. As the First Emperor insisted on touring in secrecy, only prime minister <a target="_blank" href="https://en.wikipedia.org/wiki/Li_Si">Li Si</a> (李斯), advisor <a target="_blank" href="https://en.wikipedia.org/wiki/Zhao_Gao">Zhao Gao</a> (趙高), son <a target="_blank" href="https://en.wikipedia.org/wiki/Qin_Er_Shi">Huhai</a> (胡亥) (who was the only member of the royal family traveling with them), and five or six trusted eunuchs knew of his death. Li Si feared news of the emperor's death would trigger an uprising, so he concealed his coffin and returned with the convoy to the capital, Xianyang, all the while concealing the emperor's rapidly decomposing body (due to the summer heat) by ordering carts full of rotten fish be carried behind and ahead of the emperor's wagon.</p>

<p>After two months journey back to the capital, Zhao Gao conspired with Huhai (while only convincing Li Si to play along) to forge an edict claiming various crimes committed by Fusu and Meng Tian and ordering them to commit suicide. <a target="_blank" href="https://en.wikipedia.org/wiki/Meng_Yi">Meng Yi</a> (蒙毅), Meng Tian's younger brother, sentenced Zhao to death for a crime he committed as a minor official, but the First Emperor pardoned him. Because of this, Zhao held a grudge against the Meng family. He was also afraid Meng Tian's prowess and closeness to Fusu would threaten his position if Fusu ascended the throne.</p>

<p>When the messenger arrived with the edict, Fusu retired to weeping in his inner quarters, intending to commit suicide. Meng Tian stopped him from doing so, saying:</p>

<blockquote><p>His Majesty has been residing away from the capital and has not yet designated an heir apparent.<sup><a href="#fn-heir-apparent">6</a></sup> He has put me in command of 300,000 men to guard the border and ordered you to act as supervisor. Such assignments are among the most crucial in the whole empire. Now one messenger appears and immediately you prepare to commit suicide. How do you know that this is not some sort of deception? I urge you to ask for confirmation. If the order is confirmed and you then take your life, no one can say you acted tardily.<sup><a href="#fn-shiji-p190">7</a></sup></p></blockquote>

<p>Being too loyal<sup><a href="#fn-fusu-reasons">8</a></sup> for his own good, Fusu responded with “If a father instructs his son to commit suicide, how can he ask for confirmation of the order?”<sup><a href="#fn-shiji-p191">9</a></sup> and proceeded to take his life. Meng Tian, however, was unwilling to commit suicide. The messenger turned him over to the officials, who imprisoned him at Yangzhou.</p>

<p>After the messenger returned, Huhai ascended the throne (210 BCE), taking the title of Second Emperor (秦二世; pinyin: Qín Èr Shì), with Zhao Gao as the chief of palace attendants constantly by his side in the inner palace to tend to affairs of state. Zhao spoke ill of the Meng family “day and night” to Huhai. In the same year, Meng Yi was put to death, Meng Tian was forced to commit suicide by poison, and the remaining Meng family was killed.</p>

<p>Zhao exploited Huhai's view of him as a teacher and superior to impose his own agenda, out-running the First Emperor's cruelty, having Li Si executed,<sup><a href="#fn-li-si-execution">10</a></sup> and eventually cornering Huhai himself into suicide through a rather rash move in 207 BCE. After Huhai's death, Zhao tried to install <a target="_blank" href="https://en.wikipedia.org/wiki/Ziying">Ziying</a> (子嬰), one of Huhai's uncles,<sup><a href="#fn-ziying-heredity">11</a></sup> as the next emperor.</p>

<p>However, Ziying (of royal blood), suspected Zhao was going to have him killed to appease the rebels, so he feigned illness and declined to attend state affairs. He plotted with the eunuch Han Tan (韓談)<sup><a href="#fn-shiji-p205">12</a></sup> to kill Zhao. Zhao eventually came in person to his quarters to inquire about his illness and was killed by Han Tan as he arrived. Ziying then ascended the throne as the King of Qin<sup><a href="#fn-ziying-king">13</a></sup> and executed Zhao Gao's three sets of relatives. He reigned for a short 46 days before surrendering (along with the entire royal family) to a Chu (later Han) rebel leader, <a target="_blank" href="https://en.wikipedia.org/wiki/Emperor_Gaozu_of_Han">Liu Bang</a> (刘邦),<sup><a href="#fn-race-to-guanzhong">14</a></sup> in late 207 BCE.</p>

<p>Liu Bang handed him over to another Chu rebel leader, <a target="_blank" href="https://en.wikipedia.org/wiki/Xiang_Yu">Xiang Yu</a> (项羽), who killed Ziying and the entire royal family. This effectively ended the Qin Dynasty after only 15 years of existence. Liu and Xiang fought over the coming years in the interregnum known as the <a target="_blank" href="https://en.wikipedia.org/wiki/Chu%E2%80%93Han_Contention">Chu&ndash;Han Contention</a>, with Liu eventually defeating Xiang at the <a target="_blank" href="https://en.wikipedia.org/wiki/Battle_of_Gaixia">Battle of Gaixa</a> in 202 BCE. Liu then established the admired <a target="_blank" href="https://en.wikipedia.org/wiki/Han_Dynasty">Han Dynasty</a> (206 BCE&ndash;220 CE), becoming Emperor Gao (高皇帝; pinyin: Gāo Huángdì).</p>

<p>At least, that's how it goes in history.</p>

<p><em>Prince of Qin</em> explores what could have happened if Fusu heeded Meng Tian's logic &mdash; or if he was at least as suspicious. The story up to the false edict is the same as real-world history. Fusu is stopped by Meng Tian and flees as Meng Tian and his men hold off the soldiers. A manhunt ensues for Fusu, who has embarked on a journey to Xianyang to discover the truth.</p>

<p>The 11-chapter narrative branches with seven total endings and explores the Qin state. Many of the NPCs encountered in the game are based on their real-world characteristics and known history. Zhao Gao is the main antagonist throughout the game, although there are many obstacles in Fusu's path.</p>

<p><em>Seal of Evil</em>, the so-called “prequel”, takes place in the Warring States period surrounding the <a target="_blank" href="https://en.wikipedia.org/wiki/Baiyue">Baiyue</a> peoples as the Qin state was rapidly conquering the surrounding area. It largely stands alone and incorporates more Chinese mythology than <em>Prince of Qin</em> does. I have plenty of criticisms about it, but I will not share them presently.</p>


<h2 id="mechanics-and-gameplay" class="separator">Mechanics and gameplay<a class="para-ref" href="#mechanics-and-gameplay"></a></h2>

<p><em>Prince of Qin</em> is a mixture of ARPG and traditional CRPG (with emphasis on the latter, I will argue) with realtime combat (i.e., not turn-based), partially-interactive pausing, and on-demand game saving. In singleplayer mode, the player can recruit and control up to five characters with permadeath (except that when Fusu dies, it's game over).</p>

<p>The first two sub-sections are somewhat detail-heavy to serve as a reference of sorts to fundamentals and build theory, but cover some of the core mechanics and show the classes in action. Most specific values are relative to patch 1.30. I planned on including a gameplay video (as all that I've seen are quite crude), but the forces of evil<sup><a href="#fn-forces-of-evil">15</a></sup> were having none of that AV synchronization business. Fortunately, there're plenty of screenshots.</p>

<h3 id="mechanics-five-elements">The Five Elements<a class="para-ref" href="#mechanics-five-elements"></a></h3>

<p>The Five Elements, based on a <a target="_blank" href="https://en.wikipedia.org/wiki/Wu_Xing">real-world concept</a>, are a fundamental mechanic. The elements and their corresponding attack power (<strong>AP</strong>) and defense power (<strong>DP</strong>) abbreviations are:</p>

<ul>
	<li>Metal (<strong>MAP</strong>, <strong>MDP</strong>)</li>
	<li>Water (<strong>WAP</strong>, <strong>WDP</strong>)</li>
	<li>Wood (<strong>NAP</strong>, <strong>NDP</strong>)</li>
	<li>Fire (<strong>FAP</strong>, <strong>FDP</strong>)</li>
	<li>Earth (<strong>EAP</strong>, <strong>EDP</strong>)</li>
</ul>

<p>I abbreviate elemental AP and DP as <strong>XAP</strong> and <strong>XDP</strong>, respectively (i.e., when referring to elemental AP and DP in an abstract or encompassing sense). There is also so-called “common” attack power (<strong>CAP</strong>) and common defense power (<strong>CDP</strong>), which act outside of the elemental system (i.e., they are neither strong nor weak against XDP and XAP).<sup><a href="#fn-damned-brutes">16</a></sup> Two mechanics control the relationships between these elements.</p>

<img src="/media/2013-09-30-poq/elemental-promotion.png" class="generic-center" style="display: block;" alt="Elemental promotion" title="Illustration of elemental promotion. Starting from the topmost in clockwise order: Metal (gold), Water (blue), Wood (green), Fire (orangered), Earth (brown)." />

<p><strong>Promotion</strong> is a mechanic used to activate “hidden” attributes on items. As seen in the illustration above, the promotion loop is (clockwise, starting from the top): Metal &rArr; Water &rArr; Wood &rArr; Fire &rArr; Earth &rArr; Metal &rArr; <span style="top: -5px; position: relative;">&hellip;</span>. To activate hidden attributes on an equipment item, a specific equipment item type of the promoting element must be worn (e.g., belts promote chest pieces and rings promote weapons &amp; shields).</p>

<img src="/media/2013-09-30-poq/elemental-restriction.png" class="generic-center" style="display: block;" alt="Elemental restriction" title="Illustration of elemental restriction" />

<p><strong>Restriction</strong> is a mechanic controlling the strength and weakness of elements against other elements. As seen in the illustration above, the restriction loop is: Metal &rArr; Wood &rArr; Earth &rArr; Water &rArr; Fire &rArr; Metal &rArr; <span style="top: -5px; position: relative;">&hellip;</span>. Somewhat defying logic, Fire does not restrict Wood. You'll just have to deal with that.</p>

<p>In addition to promotion and restriction, the elements have an offensive chance to inflict short effects:</p>

<ul>
	<li>Metal causes stun, which immobilizes the target for a short duration.</li>
	<li>Water causes freezing, which immobilizes the target for a short duration.</li>
	<li>Wood causes poison, which deals damage to the target over time.</li>
	<li>Fire causes blindness, which decreases the target's line of sight, Dodge Rate, and Shoot Rate.</li>
	<li>Earth causes stoning (or “terra-cotta”), which immobilizes the target for a duration.</li>
</ul>

<h3 id="mechanics-basics">Basics and classes<a class="para-ref" href="#mechanics-basics"></a></h3>

<p>Leveling gives the player 10 points to spend on six different attributes and 1 skill point to spend on skills, with skill tiers unlocking periodically up to five tiers. The six directly modifiable attributes are:</p>

<ul>
	<li>Strength (<strong>Str</strong>):
	<p>Increases CAP and maximum weight capacity. Stock and trade for purely offensive variants.</p></li>

	<li>Constitution (<strong>Con</strong>):
	<p>Increases CDP and HP regeneration. Tank attribute.</p></li>

	<li>Dexterity (<strong>Dex</strong>):
	<p>Increases Dodge Rate (<strong>DR</strong>) and Shoot Rate (<strong>SR</strong>) (accuracy). Generally required for all non-casters.</p></li>

	<li>Savvy (<strong>Sav</strong>):
	<p>Increases rate of experience gain. I am not aware of a sane use for this attribute outside of multiplayer.</p></li>

	<li>Charm (<strong>Cha</strong>):
	<p>Increases value of own items and decreases cost of store items. This has some uses in singleplayer.</p></li>

	<li>Wisdom (<strong>Wis</strong>):
	<p>Increases MP restoration speed and XAP. Stock and trade for casters and element-driven characters.</p></li>
</ul>

<p>Health and mana have the typical abbreviations: <strong>HP</strong> and <strong>MP</strong>.</p>

<p>Most skills can reach a maximum level of 9, with others limited to 3&ndash;6. Certain tiers of a specific skill are only unlocked once the character reaches the level of the tier. Characters can reach a maximum level of 99, although this takes an obscene amount of time &ndash; even with decent Savvy &ndash; and will never be reached by any sane person before they complete the singleplayer storyline.<sup><a href="#fn-maximum-level">17</a></sup></p>

<p>There are five classes in the game:</p>

<ul>
	<li>Paladin (male, melee &amp; ranged)</li>
	<li>Muscleman (male, melee)</li>
	<li>Assassin (female, melee &amp; ranged)</li>
	<li>Wizard (male, caster)</li>
	<li>Witch (female, caster)</li>
</ul>

<p>Each class has three variants with different traits. All effects of a trait are amplified with the character's level. Variants with an elemental trait increase XAP of the element and XDP of the element it restricts, but decrease XDP of its restrictor. For example, for every level an Earth-traited character gains, his EAP and WDP increase, but his NDP decreases. XAP gain varies with the variant, but XDP increases and decreases by 10.</p>

<h4 id="class-paladin">Paladin<a class="para-ref" href="#class-paladin"></a></h4>

<p>The Paladin uses swords, shields, dagger-axes (like a sword attached to an axe handle), and bows. Because the skillset is geared towards swords, bows are not very useful and tend to be a waste of time (especially in singleplayer, where Fusu generally needs to be the strongest character).<sup><a href="#fn-paladin-bows">18</a></sup> The skillset includes an EAP buff and its forging skill (covered shortly) allows the Paladin to craft items instead of paying gold to a blacksmith. Base attributes are: 30 Str, 30 Con, 25 Dex, 30 Sav, 40 Cha, 25 Wis. Variants:</p>

<ul>
	<li>Defense [144+33 HP, 140+4 MP, +5 CDP, +5 XDP (all)]:
	<p>Gains XDP, CDP, and extra HP. Should focus on Str and Dex or Str, Con, and Dex. With good block rate and defense skill utilization, this variant makes a good tank.</p></li>

	<li>Offense [120+28 HP, 140+4 MP, +0.8/1.6 CAP]:
	<p>Gains CAP. Often used for PvP; should focus on Str and Dex.</p></li>

	<li>Earth [120+28 HP, 140+4 MP, +0.8/1.6 EAP, +10 WDP, -10 NDP]:
	<p>Earth-traited. Rarely used in multiplayer due to dangerous Wood (and thus poison) weakness. Should focus mostly on Wis.</p></li>
</ul>

<p>Fusu is a Paladin of the first variant, which also happens to be the most over-powered class variant in the game.</p>

<div id="ss-class-paladin-screenshots" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/LgmE9Nh.png"><img src="/media/2013-09-30-poq/class/paladin-dragon-prance-thumb.png" alt="paladin-dragon-prance" title="Paladin using ‘Dragon prance’" /></a>

<a target="_blank" href="http://i.imgur.com/puj8qWs.png"><img src="/media/2013-09-30-poq/class/paladin-heart-piercing-1-thumb.png" alt="paladin-heart-piercing-1" title="Paladin using ‘Heart-piercing’" /></a>

<a target="_blank" href="http://i.imgur.com/4U65uHo.png"><img src="/media/2013-09-30-poq/class/paladin-heart-piercing-2-thumb.png" alt="paladin-heart-piercing-2" title="Paladin preparing for take-off" /></a>

<a target="_blank" href="http://i.imgur.com/PlrUrfA.png"><img src="/media/2013-09-30-poq/class/paladin-sweeping-all-thumb.png" alt="paladin-sweeping-all" title="Paladin using ‘Sweeping all’" /></a>
</div>
<hr class="separator-inner">

<h4 id="class-muscleman">Muscleman<a class="para-ref" href="#class-muscleman"></a></h4>

<p>The Muscleman is an offensive, sluggish brute employing the use of polearms, clubs, axes, and maces. The skillset includes MAP &amp; FAP buffs, beast summoning, and some crowd-control. Base attributes are: 40 Str, 35 Con, 20 Dex, 30 Sav, 30 Cha, 15 Wis. Variants:</p>

<ul>
	<li>Endurance [150+38 HP, 240+6 MP]:
	<p>Gains extra MP.<sup><a href="#fn-mm-endurance-intended-traits">19</a></sup> This variant is effectively useless.</p></li>

	<li>Metal [150+38 HP, 120+3 MP, +0.6/1.2 CAP, +0.6/1.2 MAP, +10 NDP, -10 FDP]:
	<p>Metal-traited, but also gains CAP. Should focus on Str, Dex, and Wis or just Str and Dex. Plenty of shock skills available.</p></li>

	<li>Fire [150+38 HP, 120+3 MP, +0.6/1.2 CAP, +0.6/1.2 FAP, +10 MDP, -10 WDP]:
	<p>Fire-traited, but also gains CAP. Should focus on Str, Dex, and Wis or just Str and Dex.</p></li>
</ul>

<div id="ss-class-muscleman-screenshots" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/kvUt5VX.png"><img src="/media/2013-09-30-poq/class/muscleman-bearfriend-thumb.png" alt="muscleman-bearfriend" title="Muscleman and bearfriend" /></a>

<a target="_blank" href="http://i.imgur.com/M0ygqxz.png"><img src="/media/2013-09-30-poq/class/muscleman-embiggen-thumb.png" alt="muscleman-embiggen" title="Muscleman roaring" /></a>

<a target="_blank" href="http://i.imgur.com/4Tfy7iv.png"><img src="/media/2013-09-30-poq/class/muscleman-landing-thumb.png" alt="muscleman-landing" title="Muscleman angry" /></a>

<a target="_blank" href="http://i.imgur.com/IKegtE4.png"><img src="/media/2013-09-30-poq/class/muscleman-jumping-thumb.png" alt="muscleman-jumping" title="Muscleman inbound" /></a>
</div>
<hr class="separator-inner">

<h4 id="class-assassin">Assassin<a class="para-ref" href="#class-assassin"></a></h4>

<p>The Assassin is an offensive trap-laying, stealth-employing dagger, bow, and crossbow wielder who can attack very fast with all weapons except for the crossbow (outside of rapid-fire skills). The skillset includes WAP &amp; NAP buffs, is almost equally divided between daggers &amp; bows, and can be critical in singleplayer due to trap detection and disarm skills. Base attributes are: 25 Str, 25 Con, 35 Dex, 40 Sav, 35 Cha. Variants:</p>

<ul>
	<li>Offense [126+29 HP, 130+4 MP, +0.8/1.6 CAP]:
	<p>Gains CAP and extra HP. Should focus on Str and Dex.</p></li>

	<li>Water [105+24 HP, 130+4 MP, +16 SR, +0.6/1.2 WAP, +10 FDP, -10 EDP]:
	<p>Water-traited; gains SR. Should focus on Dex and Wis.</p></li>

	<li>Wood [105+24 HP, 260+8 MP, +0.6/1.2 NAP, +10 EDP, -10 FDP]:
	<p>Wood-traited; gains extra MP. Should focus on Dex and Wis.</p></li>
</ul>

<div id="ss-class-assassin-screenshots" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/qKKGlAT.png"><img src="/media/2013-09-30-poq/class/assassin-bow-thumb.png" alt="assassin-bow" title="Assassin using ‘Fury arrow’" /></a>

<a target="_blank" href="http://i.imgur.com/rtQkK6R.png"><img src="/media/2013-09-30-poq/class/assassin-thunder-attack-1-thumb.png" alt="assassin-thunder-attack-1" title="Slicing up some bandit scum with ‘Thunder attack’" /></a>

<a target="_blank" href="http://i.imgur.com/LlE9jk9.png"><img src="/media/2013-09-30-poq/class/assassin-thunder-attack-2-thumb.png" alt="assassin-thunder-attack-2" title="Not something you'd walk away from&hellip;" /></a>

<a target="_blank" href="http://i.imgur.com/dnMA3b7.png"><img src="/media/2013-09-30-poq/class/assassin-zzz-thumb.png" alt="assassin-zzz" title="“Hey! Help me out over here!” *Zzzz*" /></a>
</div>
<hr class="separator-inner">

<h4 id="class-wizard">Wizard<a class="para-ref" href="#class-wizard"></a></h4>

<p>The Wizard is a support and offensive caster. The skillset includes an MP-stealing default attack, cures, heals, defensive buffs, a quick-regen flash buff, item identification, and teleportation. Base attributes: 15 Str, 30 Con, 25 Dex, 35 Sav, 30 Cha, 40 Wis. Variants:</p>

<ul>
	<li>Endurance [132+26 HP, 360+10 MP]:
	<p>Gains extra HP and MP. Should focus on Con and Wis. Good support variant.</p></li>

	<li>Earth [110+22 HP, 180+5 MP, +0.6/1.2 EAP, +10 WDP, -10 NDP]:
	<p>Earth-traited. Should focus on Con and Wis.</p></li>

	<li>Metal [110+22 HP, 180+5 MP, +0.6/1.2 MAP, +10 NDP, -10 FDP]:
	<p>Metal-traited. Should focus on Con and Wis.</p></li>
</ul>

<div id="ss-class-wizard-screenshots" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/DrwR78e.png"><img src="/media/2013-09-30-poq/class/wizard-snake-blade-thumb.png" alt="wizard-snake-blade" title="Wizard using ‘Snake-blade’" /></a>

<a target="_blank" href="http://i.imgur.com/6w8bleA.png"><img src="/media/2013-09-30-poq/class/wizard-hailstorm-thumb.png" alt="wizard-hailstorm" title="Bringing down the party with a hailstorm" /></a>

<a target="_blank" href="http://i.imgur.com/rmuxjId.png"><img src="/media/2013-09-30-poq/class/wizard-squall-thumb.png" alt="wizard-squall" title="Conjuring a squall" /></a>

<a target="_blank" href="http://i.imgur.com/I63sUOr.png"><img src="/media/2013-09-30-poq/class/wizard-swords-around-thumb.png" alt="wizard-swords-around" title="Whipping some swords 'round" /></a>
</div>
<hr class="separator-inner">

<h4 id="class-witch">Witch<a class="para-ref" href="#class-witch"></a></h4>

<p>The Witch is an offensive caster which uses staves. The skillset includes an HP-stealing default attack (which is very useful with the offensive variant), a CAP buff, and some crowd-control &amp; debuffs. Base attributes are: 10 Str, 25 Con, 30 Dex, 30 Sav, 35 Cha, 45 Wis. Variants:</p>

<ul>
	<li>Offensive [120+24 HP, 200+6 MP, +0.8/1.6 CAP]:
	<p>Gains CAP and extra HP. Should focus on Str and Dex. Can be quite dangerous.</p></li>

	<li>Wood [100+20 HP, 200+6 MP, +0.6/1.2 NAP, +10 EDP, -10 MDP]:
	<p>Wood-traited. Should focus on Wis.</p></li>

	<li>Fire [100+20 HP, 200+6 MP, +0.6/1.2 FAP, +10 MDP, -10 WDP]:
	<p>Fire-traited. Should focus on Wis.</p></li>
</ul>

<div id="ss-class-witch-screenshots" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/e1beeuU.png"><img src="/media/2013-09-30-poq/class/witch-burning-all-thumb.png" alt="witch-burning-all" title="Witch burning all the things" /></a>

<a target="_blank" href="http://i.imgur.com/QlelCaS.png"><img src="/media/2013-09-30-poq/class/witch-corpse-flame-thumb.png" alt="witch-corpse-flame" title="Still burnin'" /></a>

<a target="_blank" href="http://i.imgur.com/F7HOtu2.png"><img src="/media/2013-09-30-poq/class/witch-easy-capture-thumb.png" alt="witch-easy-capture" title="Casting a debuff" /></a>

<a target="_blank" href="http://i.imgur.com/GtPsUIb.png"><img src="/media/2013-09-30-poq/class/witch-grass-thumb.png" alt="witch-grass" title="Laying down some man-eating grass" /></a>
</div>
<hr class="separator-inner">

<h3 id="gameplay-depth">Gameplay<a class="para-ref" href="#gameplay-depth"></a></h3>

<p>The gameplay itself is not too different from <em>Baldur's Gate</em>. Anyone familiar with RPGs should find it welcoming. The elements make for a fun build challenge, and your characters' restrictors can become serious sources of fear.</p>

<p>Keys Q, W, E, and R can be bound to attack skills for the primary slot (default attack; left mouse button), whereas keys A, S, D, and F can be bound to all skills for the secondary slot (right mouse button).</p>

<p>Unlike most ARPGs, the camera is independent of the character(s) position and the player can pan around the map freely. Multiple characters can be selected by clicking and dragging over the characters in the game world, or individually by selecting portraits from the character bar or with keys 1&ndash;5. Each character has his own inventory and the player has a single stash. Items can be moved directly between characters by dropping them on portraits in the character bar.</p>

<p>Characters can be moved individually around the map, similar to <em>Baldur's Gate</em>. Due to fog of war (black &amp; soft), it can be useful to send a scout ahead.</p>

<div id="ss-gameplay-1-ui-fow" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/Jph6bOc.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-1-skills-thumb.png" alt="gameplay-1-skills" title="Upgrade interface and Paladin skills" /></a>

<a target="_blank" href="http://i.imgur.com/IMDNSL0.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-1-inventory-thumb.png" alt="gameplay-1-inventory" title="Inventory" /></a>

<a target="_blank" href="http://i.imgur.com/HYnm62c.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-1-not-guilty-thumb.png" alt="gameplay-1-not-guilty" title="Not guilty" /></a>

<a target="_blank" href="http://i.imgur.com/Sm8akhG.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-1-fog-of-war-thumb.png" alt="gameplay-1-fog-of-war" title="Fog of war" /></a>
</div>
<hr class="separator-inner">

<p>Once a character is attacking an enemy, he will continue to attack automatically using the current skill in the primary slot. In singleplayer, the character will also pick a new target automatically, which is very necessary when juggling up to five characters. The game can be paused to queue up the next action, although there is no indication of which action will be performed once the game is unpaused (much unlike <a target="_blank" href="https://en.wikipedia.org/wiki/Star_Wars:_Knights_of_the_Old_Republic"><em>Star Wars: Knights of the Old Republic</em></a>).</p>

<p>Combat is initially slow due to low-grade weapons with low attack speed and doesn't become too fast as the player advances (especially in singleplayer). Some classes, such as the Muscleman, are slower than others, but make up for it in offensive or defensive power &mdash; or, conversely, are faster but more weak. The Paladin, of course, ignores all of this balance nonsense and runs around like he owns the place.</p>

<p>Narrative choices are presented in a textual dialog box which unfortunately requires use of the mouse. The sometimes-broken mission log stores accepted quests and completed quests, and the story log book stores a list of events per chapter. Cutscenes are fully voiced, sub-titled, and dialogue is skippable.</p>

<div id="ss-gameplay-2-cutscenes-and-dialogue" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/2KP0KUG.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-2-cutscene-zhao-qian-thumb.png" alt="gameplay-2-cutscene-zhao-qian" title="Cutscene with Zhao Qian" /></a>

<a target="_blank" href="http://i.imgur.com/ViSwHCI.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-2-dialogue-granny-thumb.png" alt="gameplay-2-dialogue-granny" title="Chattin' with an old lady" /></a>

<a target="_blank" href="http://i.imgur.com/YFK2JxR.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-2-dialogue-gramps-thumb.png" alt="gameplay-2-dialogue-gramps" title="Chattin' with an old man" /></a>

<a target="_blank" href="http://i.imgur.com/3xXbfaA.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-2-dialogue-free-thumb.png" alt="gameplay-2-dialogue-free" title="Freestanding dialogue" /></a>
</div>

<div id="ss-gameplay-2-more-ui" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/7vPAeEy.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-2-ui-mission-log-thumb.png" alt="gameplay-2-ui-mission-log" title="Mission/quest log book" /></a>

<a target="_blank" href="http://i.imgur.com/RzaL6vS.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-2-ui-log-book-thumb.png" alt="gameplay-2-ui-log-book" title="Story log book" /></a>

<a target="_blank" href="http://i.imgur.com/f0KTcHM.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-2-ui-map-local-thumb.png" alt="gameplay-2-ui-map-local" title="Local map" /></a>

<a target="_blank" href="http://i.imgur.com/tlvIr09.png"><img src="/media/2013-09-30-poq/gameplay/gameplay-2-ui-map-national-thumb.png" alt="gameplay-2-ui-map-national" title="National map" /></a>
</div>
<hr class="separator-inner">

<p>Another fancy mechanic is crafting, which is only accessible through NPC blacksmiths and Paladins (with the ‘Art of forging’ skill). Crafting combines materials to create equipment of nearly any type. In singleplayer this extends to some unwearable items for quests.</p>

<p>Flesh-based material &ndash; tendon, bone, and skin &ndash; can be looted from nearly every non-human mob, whereas ore and wood have to be gathered from sparsely-marked rocks and trees. High stat (Dex especially) and movement speed materials were especially coveted and endlessly hunted down.</p>

<p><em>Prince of Qin</em> skips the part where materials have to be processed (much unlike <a target="_blank" href="https://en.wikipedia.org/wiki/Ultima_Online"><em>Ultima Online</em></a>) and simply combines the attributes of the materials (with a chance of extra random attributes being added). The item level of the crafted equipment depends on the item level of the materials and the skill level of the crafter, which is only a maximum of 6 for Paladins. Due to this, players would use the blacksmith in multiplayer Xianyang, which is slightly better than a maxed Paladin.</p>

<p>Crafters can also inlay gems in main equipment items. Crafted equipment are limited to one socket whereas store-bought equipment can have a maximum of three. An early-patched bug with crafting was exploited to inlay an unlimited number of materials in an item, leading to exceedingly powerful equipment.</p>

<div id="ss-crafting" style="text-align: center;">
<a target="_blank" href="http://i.imgur.com/qZLQDSY.png"><img src="/media/2013-09-30-poq/crafting/crafting-boots-thumb.png" alt="crafting-boots" title="Crafting boots in Chencheng" /></a>

<a target="_blank" href="http://i.imgur.com/uCEE2Kn.png"><img src="/media/2013-09-30-poq/crafting/crafting-socketing-thumb.png" alt="crafting-socketing" title="Inlaying a gem in a dagger" /></a>

<a target="_blank" href="http://i.imgur.com/nsdbSKM.png"><img src="/media/2013-09-30-poq/crafting/crafting-socket-exploit-1-thumb.png" alt="crafting-socket-exploit-1" title="Socketing exploit" /></a>

<a target="_blank" href="http://i.imgur.com/Uha6Gja.png"><img src="/media/2013-09-30-poq/crafting/crafting-socket-exploit-2-thumb.png" alt="crafting-socket-exploit-2" title="Criminal scum!" /></a>
</div>
<hr class="separator-inner">

<p><em>Prince of Qin</em> is commonly considered an ARPG, but I find some fault with this label &mdash; or at least in its ‘pure’ sense, even though ARPG is not tightly defined. Rather, <em>Prince of Qin</em> is somewhere in-between ARPG (such as the famed <em>Diablo</em> series) and traditional CRPG (such as <em>Baldur's Gate</em><sup><a href="#fn-baldurs-gate">20</a></sup>) with its pacing. Auto-attack really reinforces that point. Players coming from a fast-paced game like <em>Diablo II</em> can cause <em>Prince of Qin</em> to feel sluggish. On the other hand, it employs powerful items and attributes (especially through crafting), following the nature of ARPGs from its time period (which undeniably includes <em>Diablo II</em>).</p>

<p>Several classes can move about swiftly through skills, but it only really becomes ARPG-like in multiplayer, where movement speed is more accessible and where PvP garners a different kind of attention and discipline. On that note, multiplayer might've never happened if it weren't for crafting, which is notably absent in any ARPG from that period (as far as I'm aware). <em>Prince of Qin</em>'s real downfall comes from its bugs and neglected player base. <em>Diablo II</em>, on the other hand, still has a large following to this day; its purity and innovation in the way of the ARPG has certainly served it well.</p>

<p>Despite all of its problems, it still stands as an excellently-crafted RPG in my eye. The artwork direction, music, story, and fantasy are infallibly fitting to its setting. Had it simply received better translation and voice acting, it would stand a bit more prominently as a relic today &mdash; although it certainly deserves a crusade against the more heinous bugs.</p>


<h2 id="intravenous-rpg" class="separator">Intravenous RPG<a class="para-ref" href="#intravenous-rpg"></a></h2>

<p>So, how did this attachment begin?</p>

<p>For me, it all began during the latter snow-covered months of 2002. My brother and I were scouring the net for demos to play (as was our wont) and found the multiplayer demo. It only had access to two classes up to a level cap of 5, which restricted us to the starting city (Yangzhou) and two enemy maps.</p>

<p>We were obsessed. We played numerous characters to the level cap with excitement, despite there not being anything to actually accomplish or explore in our limited play zone. The true factors of interest escape my memory, but they were likely due to the excellent ancient Chinese aesthetic and my love of role-playing (which <em>Prince of Qin</em> is very responsible for extending).</p>

<p>The control over agency and narrative branching in RPGs has always been appealing. When combined with attribute and ability customization (as the label "RPG" now almost universally assumes), these games can become incredible time sinks, despite often lacking any actual designed goal beyond the story (if there is one). In <em>Prince of Qin</em>'s multiplayer (which dominated our time), there certainly wasn't one.</p>

<p>The aesthetic captured ancient China like I'd never seen before &mdash; and since. My exposure to MMORPGs at the time was very minimal, if at all, and in the later years I was always disappointed by the aesthetics of Asian-themed MMOs. They were tacky and lackluster. Even Object Software's later games &ndash; specifically, <em>Seal of Evil</em> and <em>World of Qin 2</em> &ndash; began to slip away. As soon as realtime 3D was utilized, the magic was lost.</p>

<p>Many polygons have to be pushed to contend with the quality of pre-rendered 3D art and tailored 2D art (especially highly detailed background art, such as <em>Prince of Qin</em>'s). Back then, consumer hardware certainly couldn't handle such density, so developers of 2.5D games were limited to high-quality (but inflexible) pre-rendered 3D or low quality (but flexible) realtime 3D. I didn't understand the move to realtime 3D when its quality was so severely limited, but I digress.</p>

<p>Looking back, it's strange that I got hooked so easily. Nowadays story tends to hold more weight than aesthetic as a requirement of my interest. This is possibly due to disappointments over the years more than anything else.</p>

<p>Christmas of 2002, we asked for and received the full game as a gift. We peeked under the wrapping and were driven mad because we weren't allowed to open it until Christmas day. There's a lesson for you, kids: don't peek.</p>

<p>Despite numerous bugs and exploits, the official multiplayer servers were a blast. “Stacking”, a prominent exploit, involved the combination of equipment through a bug with the stacking mechanic intended for medicine items. The combined attributes of the stack would apply to your character when you wore it.</p>

<p>One particular attribute, movement speed, was a big target for stackers. This attribute was rare to come by, and the store-bought items were low level and otherwise of low grade. Because the exploit utilized items that required attributes above the character's base attributes, it was a challenge to find and create items to reach the movement speed cap &mdash; but reach it we did.</p>

<p>Movement speed was of particular interest to hunters, who wanted to do “mat runs” faster. There are very few hunting maps for end-game players, and they were often a point of contention in the community due to the relatively long refresh cycle of material sources.</p>

<p>Soon after we started playing, I sucked two of my cousins and a friend into the game. For all its glory, multiplayer only lasted about two years. The game undoubtedly suffered due to the release of <em>World of Qin</em>. Patching stopped near the end of 2004 with version 1.30 as Object Software jumped ship to online-only games. In quelling exploits like stacking and the demo level glitch, the patches ruined some fundamental mechanics.</p>

<p>The probabilities of accuracy and dodging were effectively useless somewhere in patches 1.22-1.28, and chat message length was reduced to 30 characters in patch 1.30, effectively ruining interaction. Server instability rose and most of the players moved on.</p>

<p>Strategy First kept the servers up for a short while into the end of 2004, but there were very few consistent players. Once the servers shut down, we started our own server.</p>


<h2 id="interim-shimmers-of-fun" class="separator">Interim: shimmers of fun<a class="para-ref" href="#interim-shimmers-of-fun"></a></h2>

<p>Our first dedicated server started in December 2004. I can't recall the patch we used, but stacking was certainly possible &mdash; I remember having “server maintenance” where we inspected the players' characters for signs of stacking.</p>

<p>This died down after only a few months. Stability in general was always rather poor for non-Battle.Net servers (and even then&hellip;). Unlike Battle.Net, private dedicated servers kept items in the world indefinitely instead of deleting them after some matter of minutes. Because of this, our server had to be restarted frequently to avoid bogging down the game.</p>

<p>In October 2006, we came back as the “Legend Server” and were a bit more clever. Utilizing my adventures in programming (which I only started in February 2005), we released a user patch (1.0, map fix, 1.1a) with a terrible hand-written installer which mixed various official patches to quell map issues. We also created a launcher to check server status and to login <em>using a password</em> (albeit in a fake manner &mdash; to this day the actual password handling has not been figured out).</p>

<p>I have no idea how long this run lasted, but it was likely around the same amount of time as the first one. It's possible that it extends into what I'm calling the third run in 2007, but due to no activity in my archives during the interim, I find that unlikely.</p>

<p>In November 2007, we started up the Legend Server again. This saw LS patch 2.0 and an updated launcher, but probably only lasted a few months. There was another likely-short run in October 2008 which saw no increase in the level of cleverness.</p>

<p>Finally in March 2009, after a culmination of over 4 years of programming knowledge, I built a passthrough server to handle authentication and we started our fourth run. We also updated the LS patch to 2.1 &amp; 2.2 and rebuilt the launcher. If I recall correctly, we were using a base patch that fixed stacking, but the LS patch was still incorporating multiple official patches.</p>

<p>Since then, we have not run another server. You might've noticed a pattern with the months we were running: mostly late in the year. I think this is due to the mood we had when we first started playing the game and the ever-vehement nostalgia we felt when reminiscing. It is no coincidence that I am writing this at the end of September.</p>

<p>Throughout 2010, I was deeply invested in deciphering data formats and the network protocol. During my investigations on <em>World of Qin</em>, I eventually got my hands on actual production server software, although it took a few long nights to decipher the poorly-translated Chinese instructions to get it working. This led to the discovery of the command system in <em>Prince of Qin</em> (as well as <em>World of Qin</em>) and the set of XOR ciphers for data and the network protocol (yes&hellip; XOR).</p>

<p>With that information, I was designing passthrough servers to inspect the actual messages the client and server were sending to better implement authentication, but these weren't completed. I moved on to greater things and am currently invested in sorting out my own future.</p>


<h2 id="undying-or-undead" class="separator">Undying, or undead?<a class="para-ref" href="#undying-or-undead"></a></h2>

<p>It's been nearly <em>eleven years</em> since our first encounter. In the past three years alone I've grown my knowledge more than in the remaining eight of that span. In 2010, everything started to click together and I finally feel that I've become a decent programmer. I don't know where I would be without <em>Prince of Qin</em> as a source of inspiration and as an enigma to study. I suspect something else would have taken its place &ndash; to largely <em>waste</em> my youth &ndash; but such theorizing is often fruitless.</p>

<p>The least I want to do is enshrine the game (especially its media) on the net. I have a wealth of information about the game and its various backend systems that can show where Object Software failed and where they succeeded. For now that consists of this article; later I will collect the information on my homesite.</p>

<p>I don't quite know what lies ahead for the game itself, but I have plenty of ideas. Ideally I'd just remake it. There're so many issues that it'd just be better to start over. But time is against me. An obsession such as this doesn't pay the bills; I have employment to worry about before I can do anything substantial, and even then&hellip;</p>

<p>As far as that unrealistic future goes, I'd start with UI handling and scene rendering (the latter of which I've <a target="_blank" href="http://i.imgur.com/hkwMj9R.jpg">done</a> <a target="_blank" href="http://i.imgur.com/HCOvJcN.jpg">before</a>). The largest remaining mess of an enigma is animation, so I'd tackle that and move on to actor rendering and dynamics. It's probably a good idea to maintain legacy support, so I'd have to implement the command system as well. The network protocol carries the commands verbatim, which explains lag with more than a handful of players (over, you guessed it, TCP/IP), but it shouldn't be hard to translate to a more compact serialized form later on.</p>

<p>Actually, all of the data formats are rather creepy. It's probably a good idea to rework the asset system and just upconvert everything to new formats.</p>

<p>Or I could ignore the presentational stuff and go straight to the logic with a server and local translator. The server could implement its own compact network protocol and the translator would sit locally and convert between the legacy protocol and the new protocol. That'd be a cheaper way to handle authentication, actually.</p>

<p>But I'm not too interested in preserving multiplayer at this point. Being able to play singleplayer on modern systems without annoyance is more important. On that note, I'd also love to do an LP of the game. It'd force me to actually complete singleplayer and I'd get to document the entire game. That'd be a lot of fun. Maybe I'll do it when I'm old and grumpy.</p>

<p>In the meantime, I have enough information on hand to make easy mods. I've been fantasizing about making multiplayer obscenely difficult &mdash; maybe increase the enemy count, increase their stats, elemental effect chance, etc. Just for kicks. Maybe dabble in some custom maps, too. It'd also be nice to hack in a windowed mode.</p>

<p>Or&hellip; perhaps no future? All this thinking about <em>Prince of Qin</em> is giving me more ideas for an RPG I've been mulling over. My attachment to <em>Prince of Qin</em> fueled a major growth period through 2006&ndash;2010 (although dwarfed by 2010&ndash;present), but I think I've just about reached the limit of gain.</p>

<p>Remaking anything with a critical eye can be instructive and full of lessons, but not too many people care about the game. I'd just be gratifying myself. All of my game ideas are more compelling than spending countless hours peering into the bit ether and making divinations. Not to mention designing my own systems would be faster than deciphering existing ones.</p>

<p>It doesn't help that <span title="magic wavy hands">the law</span> frowns upon such things. Frankly, it's all rather irrational. Yet here I am.</p>

<p>Which is to say, who knows?</p>


{% include post/footnotes_start %}
<ol>
	<li id="fn-did-you-hear-it">Did you just play back its death cry in your head? DID YOU? &hellip; <em>Wait</em>, maybe it's a Zhuyan. CAN YOU HEAR THAT ONE TOO?</li>

	<li id="fn-music">I have arranged an album for the soundtrack with extra tracks and liner notes, but am concerned about the <span title="eh, screw it">legality</span> of releasing it publicly. Until I get some kind of <span title="ha!">permission</span>, one fella has kindly <a target="_blank" href="https://www.youtube.com/playlist?list=PL72ADD74046D8FA45">uploaded the music</a> verbatim to YouTube. Also, the audio is in dire need of remastering, but I doubt I'd ever be able to convince the studio &ndash; who have proven very difficult to triangulate &ndash; to do it.</li>

	<li id="fn-dou-shen">At least not until <a target="_blank" href="http://ds.object.com.cn">《斗神》</a> (<em>God of War</em>; pinyin: Dòu Shén), which is currently in beta. The English PR apparently calls it “206 BC”, which happens to be the date of the Qin Dynasty's downfall&hellip; This is mostly in the same vein as <em>World of Qin 2</em> in that it utilizes realtime 3D, but I don't know how well it plays. Even though it's in beta, the <a target="_blank" href="http://i.imgur.com/5BVYPBl.jpg">environment</a> <a target="_blank" href="http://i.imgur.com/KF9xuQn.jpg">art</a> is <a target="_blank" href="http://i.imgur.com/oHIGBmI.jpg">exceedingly</a> <a target="_blank" href="http://i.imgur.com/bK4pK0N.jpg">stellar</a>, as <a target="_blank" href="http://i.imgur.com/tex1SfP.jpg">usual</a>. <a target="_blank" href="http://www.object.com.cn/NewsDisplay-2183.aspx">This article</a> speaks of its lighting black magic.</li>

	<li id="fn-death-of-first-emperor">Reportedly due to ingesting mercury pills which were ironically intended to make him immortal. Not too smart.</li>

	<li id="fn-scholar-count">An account by Wei Hong in the second century CE added another 700 scholars to this figure.</li>

	<li id="fn-heir-apparent">The letter the First Emperor wrote to Fusu implied that he was absolved and was to be his successor, but neither Fusu nor Meng Tian knew of this letter as Zhao Gao and Li Si secretly withheld it.</li>

	<li id="fn-shiji-p190">SHIJI p. 190.</li>

	<li id="fn-fusu-reasons">Another suggestion is that Fusu simply did not believe someone would dare to forge the edict. Unfortunately, very little is known about Fusu, but his actions line up with descriptions of his character. Or at least that's what the Confucians wanted us to think.</li>

	<li id="fn-shiji-p191">SHIJI p. 191.</li>

	<li id="fn-li-si-execution"><span title="is there a more cruel person? seriously">Zhao Gao</span> sentenced Li Si to execution by <a target="_blank" href="https://en.wikipedia.org/wiki/Five_Punishments#The_Five_Punishments_in_Ancient_China">the Five Punishments</a>, which included cutting off the nose, amputation of a foot (or two; or a kneecap), castration, and, in Li Si's case, cutting in half at the waist. Wikipedia's article on Zhao Gao suggests the Five Punishments (or Five Penalties, as <em>Shiji</em> puts it) were Li Si's own invention, but I cannot find any mention of this in the <em>Shiji</em>. It seems to have existed in various forms since the Warring States period.</li>

	<li id="fn-ziying-heredity">There is some debate about this. Some say he was Fusu's grandson, but the <em>Shiji</em> states that Ziying consulted with his own sons (and Han Tan) when he was to be crowned emperor, suggesting that Ziying himself was old enough to have children of a significant age. Fusu was only in his 30s when he died, and the reasoned maximum age of Ziying &ndash; were he a son of Fusu &ndash; would have been 19, with his own sons at 1&ndash;2 years of age, meaning he would not have been able to consult with them (or at least wouldn't gain much in doing so). It is suggested instead that Ziying is an uncle of Huhai.</li>

	<li id="fn-shiji-p205">SHIJI p. 205.</li>

	<li id="fn-ziying-king">Ziying took the title King of Qin (king being a more traditional title) to suggest he would act differently from the way the emperors had.</li>

	<li id="fn-race-to-guanzhong"><a target="_blank" href="https://en.wikipedia.org/wiki/Emperor_Yi_of_Chu">Emperor Yi of Chu</a> (楚义帝; pinyin: Chu Yìdì), also known as King Huai II, promised whoever first entered Guanzhong, the heartland of Qin, would be crowned the King of Guanzhong. When Xiang Yu saw that Liu Bang beat him to Xianyang, he attempted to have Liu assassinated at a banquet, but failed. Liu, fearing a battle with Xiang's 400,000 troops, evacuated Xianyang. Xiang and his troops commited various atrocities in Xianyang, set fire to the Epang Palace (阿房宮; pinyin: Ēpáng Gōng), burned Qin records, and so on.</li>

	<li id="fn-forces-of-evil">i.e., <span title="kill it with fire">PulseAudio</span>, avconv &amp; co.</li>

	<li id="fn-damned-brutes">It kind of makes sense &ndash; brute force, strength, etc. &ndash; but I've always disliked it. The elemental mechanic is a lot more fun to play with. In my opinion, untraited characters should be especially vulnerable to elemental effects to counter the exceedingly powerful “common” attack power.</li>

	<li id="fn-maximum-level">After level 30, each subsequent level requires 10% more experience than the previous level. As far as I am aware, no person has ever reached level 99 in multiplayer nor singleplayer without hacking or abusing glitches.</li>

	<li id="fn-paladin-bows">Unless you're a madman like me. <span title="“bring it”">Bow-wielding Earth Paladin</span> for great justice.</li>

	<li id="fn-mm-endurance-intended-traits">The game claims this variant increases HP, but it does not.</li>

	<li id="fn-baldurs-gate">Which I have not played. “Father, I have sinned.” &amp; co. I would wager many of the complaints people might make against <em>Prince of Qin</em> today could also be said of the original <em>Baldur's Gate</em> release. Nostalgia is a powerful thing.</li>
</ol>
{% include post/footnotes_end %}
